<table><tr>
<td>
<!--{if ($cpl[29]) }--><img src="img/ach/lifetime_D.png"><!--{else}--><img src="img/ach/lifetime_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[29]=='0') }-->及時補給<!--{/if}-->
<!--{if ($cpl[29]=='1') }-->衣食無憂<!--{/if}-->
<!--{if ($cpl[29]=='2') }-->奧義很爽<!--{/if}-->
<!--{if ($cpl[29]=='999') }-->奧義很爽<!--{/if}-->
</b></span>
<!--{if ($cpl[29]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[29]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">目前進度： {$prc[29]}點<br></font>
<!--{if ($cpl[29]=='0') }--><font color="olive">獎勵： 切糕5<br></font> 使用無毒補給的總效果達到32767點<br><!--{/if}-->
<!--{if ($cpl[29]=='1') }--><font color="olive">獎勵： 切糕50 <span class="evergreen">稱號 美食家</span><br></font> 使用無毒補給的總效果達到142857點<br><!--{/if}-->
<!--{if ($cpl[29]=='2') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 補給掠奪者</span><br></font> 使用無毒補給的總效果達到999983點<br><!--{/if}-->
<!--{if ($cpl[29]=='999') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 補給掠奪者</span><br></font> 使用無毒補給的總效果達到999983點<br><!--{/if}-->
</td>
</tr></table>