<table><tr>
<td>
<!--{if ($cpl[51]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[51]=='0') }-->究極的靈魂<!--{/if}-->
<!--{if ($cpl[51]=='1') }-->『ＥＸ』<!--{/if}-->
<!--{if ($cpl[51]=='999') }-->『ＥＸ』<!--{/if}-->
</b></span>
<!--{if ($cpl[51]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[51]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次數： {$prc[51]}次<br></font>
<!--{if ($cpl[51]=='0') }--><font color="olive">獎勵： 切糕100<br></font> 合成物品模式『EX』1次<br><!--{/if}-->
<!--{if ($cpl[51]=='1') }--><font color="olive">獎勵： 積分700 <span class="evergreen">稱號 『ＥＸ』</span><br></font> 合成物品模式『EX』7次<br><!--{/if}-->
<!--{if ($cpl[51]=='999') }--><font color="olive">獎勵： 積分700 <span class="evergreen">稱號 『ＥＸ』</span><br></font> 合成物品模式『EX』7次<br><!--{/if}-->
</td>
</tr></table>