<table><tr>
<td>
<!--{if ($cpl[34]=='999') }--><img src="img/ach/34_999.gif"><!--{/if}-->
<!--{if ($cpl[34]=='0') }--><img src="img/ach/N.gif"><!--{/if}-->
<!--{if (($cpl[34]!='999')&&($cpl[34]!='0')) }--><img src="img/ach/34.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[34]=='0') }-->逃避可恥？<!--{/if}-->
<!--{if ($cpl[34]=='1') }-->但它有用！<!--{/if}-->
<!--{if ($cpl[34]=='2') }-->直面現實<!--{/if}-->
<!--{if ($cpl[34]=='999') }-->逃脱大師<!--{/if}-->
</b>
<!--{if ($cpl[34]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[34]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">目前進度： {$prc[34]}次<br></font>
<!--{if ($cpl[34]=='0') }--><font color="olive">獎勵： 積分10 切糕5<br><span class="evergreen">稱號 實用主義者</span><br></font> 獨自逃離幻境1次。<br><!--{/if}-->
<!--{if ($cpl[34]=='1') }--><font color="olive">獎勵： 積分50 切糕50<br><span class="evergreen">稱號 現實主義者</span><br></font> 獨自逃離幻境36次。<br><!--{/if}-->
<!--{if ($cpl[34]=='2') }--><font color="olive">獎勵： 積分100 切糕200<br><span class="evergreen">稱號 腳底抹油</span><br></font> 獨自逃離幻境101次。<br><!--{/if}-->
<!--{if ($cpl[34]=='999') }--><font color="olive">獎勵： 積分100 切糕200<br><span class="evergreen">稱號 腳底抹油</span><br></font> 獨自逃離幻境101次。<br><!--{/if}-->
</td>
</tr></table>