<table><tr>
<td>
<!--{if ($cpl[52]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[52]=='0') }-->真正的決鬥者<!--{/if}-->
<!--{if ($cpl[52]=='1') }-->◎勝利之光◎<!--{/if}-->
<!--{if ($cpl[52]=='999') }-->◎勝利之光◎<!--{/if}-->
</b></span>
<!--{if ($cpl[52]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[52]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次數： {$prc[52]}次<br></font>
<!--{if ($cpl[52]=='0') }--><font color="olive">獎勵： 切糕100<br></font> 合成物品◎光之創造神◎1次<br><!--{/if}-->
<!--{if ($cpl[52]=='1') }--><font color="olive">獎勵： 積分700 <span class="evergreen">稱號 『ＥＸ』</span><br></font> 合成物品◎光之創造神◎7次<br><!--{/if}-->
<!--{if ($cpl[52]=='999') }--><font color="olive">獎勵： 積分700 <span class="evergreen">稱號 『ＥＸ』</span><br></font> 合成物品◎光之創造神◎7次<br><!--{/if}-->
</td>
</tr></table>