<table><tr>
<td>
<!--{if ($cpl[30]=='999') }--><img src="img/ach/30.gif"><!--{/if}-->
<!--{if ($cpl[30]=='0') }--><img src="img/ach/lifetime_N.png"><!--{/if}-->
<!--{if (($cpl[30]!='999')&&($cpl[30]!='0')) }--><img src="img/ach/lifetime_D.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[30]=='0') }-->飢不擇食<!--{/if}-->
<!--{if ($cpl[30]=='1') }-->嘗百草<!--{/if}-->
<!--{if ($cpl[30]=='2') }-->吞食天地<!--{/if}-->
<!--{if ($cpl[30]=='999') }-->吞食天地<!--{/if}-->
</b></span>
<!--{if ($cpl[30]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[30]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">目前進度： {$prc[30]}次<br></font>
<!--{if ($cpl[30]=='0') }--><font color="olive">獎勵： 切糕5<br></font> 食用30效以上的有毒補給5次<br><!--{/if}-->
<!--{if ($cpl[30]=='1') }--><font color="olive">獎勵： 切糕50 <span class="evergreen">稱號 神農</span><br></font> 食用30效以上的有毒補給133次<br><!--{/if}-->
<!--{if ($cpl[30]=='2') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 貝爺</span><br></font> 食用30效以上的有毒補給365次<br><!--{/if}-->
<!--{if ($cpl[30]=='999') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 貝爺</span><br></font> 食用30效以上的有毒補給365次<br><!--{/if}-->
</td>
</tr></table>