<div class="subtitle" align="left">{lang end_achievement}</div>
<font color="olive">這裏是與遊戲結局相關的成就。<br>雖説有些看起來幫助中沒提到，但找尋它們也正是這遊戲的醍醐味之一。<br></font>
<table border="1">
<tr>
	<td width="300" align="left" valign="top">{template achievement_16}</td>
	<td width="300" align="left" valign="top">{template achievement_17}</td>
	<td width="300" align="left" valign="top">{template achievement_18}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_19}</td>
	<td width="300" align="left" valign="top">{template achievement_34}</td>
</tr>
</table>
