<table><tr>
<td>
<!--{if ($cpl[3]) }--><img src="img/ach/battle_D.png"><!--{else}--><img src="img/ach/battle_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[3]=='0') }-->腳本小子<!--{/if}-->
<!--{if ($cpl[3]=='1') }-->黑客<!--{/if}-->
<!--{if ($cpl[3]=='2') }-->幻境解離者？<!--{/if}-->
<!--{if ($cpl[3]=='999') }-->幻境解離者？<!--{/if}-->
</b></span>
<!--{if ($cpl[3]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[3]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">擊殺總數： {$prc[3]}名<br></font>
<!--{if ($cpl[3]=='0') }--><font color="olive">獎勵： 切糕5<br></font> 擊殺100名NPC<br><!--{/if}-->
<!--{if ($cpl[3]=='1') }--><font color="olive">獎勵： 積分200 <span class="evergreen">稱號 黑客</span><br></font> 擊殺500名NPC<br><!--{/if}-->
<!--{if ($cpl[3]=='2') }--><font color="olive">獎勵： 積分500 切糕15  <span class="evergreen">稱號 最後一步</span><br></font> 擊殺10000名NPC<br><!--{/if}-->
<!--{if ($cpl[3]=='999') }--><font color="olive">獎勵： 積分500 切糕15 <span class="evergreen">稱號 最後一步</span><br></font> 擊殺10000名NPC<br><!--{/if}-->
</td>
</tr></table>
