<table><tr>
<td>
<!--{if ($cpl[41]) }--><img src="img/ach/mixitem_D.png"><!--{else}--><img src="img/ach/mixitem_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[41]=='0') }-->進行加速同調吧！<!--{/if}-->
<!--{if ($cpl[41]=='1') }-->加速同調<!--{/if}-->
<!--{if ($cpl[41]=='2') }-->聚集的祈願<!--{/if}-->
<!--{if ($cpl[41]=='999') }-->聚集的祈願<!--{/if}-->
</b></span>
<!--{if ($cpl[41]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[41]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次數： {$prc[41]}次<br></font>
<!--{if ($cpl[41]=='0') }--><font color="olive">獎勵： 切糕10<br></font> 合成物品流星龍 ★10 1次<br><!--{/if}-->
<!--{if ($cpl[41]=='1') }--><font color="olive">獎勵： 積分100 <span class="evergreen">稱號 加速同調</span><br></font> 合成物品流星龍 ★10 51次<br><!--{/if}-->
<!--{if ($cpl[41]=='2') }--><font color="olive">獎勵： 積分350 <span class="evergreen">稱號 聚集的祈願</span><br></font> 合成物品流星龍 ★10 111次<br><!--{/if}-->
<!--{if ($cpl[41]=='999') }--><font color="olive">獎勵： 積分350 <span class="evergreen">稱號 聚集的祈願</span><br></font> 合成物品流星龍 ★10 111次<br><!--{/if}-->
</td>
</tr></table>