<table><tr>
<td>
<!--{if ($cpl[13]=='999') }--><img src="img/ach/13_1.gif"><!--{/if}-->
<!--{if ($cpl[13]=='0') }--><img src="img/ach/N.gif"><!--{/if}-->
<!--{if (($cpl[13]!='999')&&($cpl[13]!='0')) }--><img src="img/ach/D.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[13]=='0') }-->深度凍結<!--{/if}-->
<!--{if ($cpl[13]=='1') }-->跨過彩虹<!--{/if}-->
<!--{if ($cpl[13]=='999') }-->跨過彩虹<!--{/if}-->
</b></span>
<!--{if ($cpl[13]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[13]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">推倒次數： {$prc[13]}次<br></font>
<!--{if ($cpl[13]=='0') }--><font color="olive">獎勵： 積分150 切糕250<br></font> 推倒藍凝1次<br><!--{/if}-->
<!--{if ($cpl[13]=='1') }--><font color="olive">獎勵： <span class="evergreen">稱號 跨過彩虹</span><br></font> 推倒藍凝3次<br><!--{/if}-->
<!--{if ($cpl[13]=='999') }--><font color="olive">獎勵： <span class="evergreen">稱號 跨過彩虹</span><br></font> 推倒藍凝3次<br><!--{/if}-->
</td>
</tr></table>
