<table><tr>
<td>
<!--{if ($cpl[4]=='999') }--><img src="img/ach/4_1.gif"><!--{/if}-->
<!--{if ($cpl[4]=='0') }--><img src="img/ach/N.gif"><!--{/if}-->
<!--{if (($cpl[4]!='999')&&($cpl[4]!='0')) }--><img src="img/ach/D.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[4]=='0') }-->冒煙突火<!--{/if}-->
<!--{if ($cpl[4]=='1') }-->紅殺將軍<!--{/if}-->
<!--{if ($cpl[4]=='999') }-->紅殺將軍<!--{/if}-->
</b></span>
<!--{if ($cpl[4]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[4]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">推倒次數： {$prc[4]}次<br></font>
<!--{if ($cpl[4]=='0') }--><font color="olive">獎勵： 積分50 切糕75<br></font> 推倒紅暮1次<br><!--{/if}-->
<!--{if ($cpl[4]=='1') }--><font color="olive">獎勵： <span class="evergreen">稱號 越紅者</span><br></font> 推倒紅暮9次<br><!--{/if}-->
<!--{if ($cpl[4]=='999') }--><font color="olive">獎勵： <span class="evergreen">稱號 越紅者</span><br></font> 推倒紅暮9次<br><!--{/if}-->
</td>
</tr></table>
