<table><tr>
<td>
<!--{if ($cpl[53]) }--><img src="img/ach/lifetime_D.png"><!--{else}--><img src="img/ach/lifetime_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[53]=='0') }-->來打釘子吧！<!--{/if}-->
<!--{if ($cpl[53]=='1') }-->棍棒愛好者<!--{/if}-->
<!--{if ($cpl[53]=='2') }-->無情打釘者<!--{/if}-->
<!--{if ($cpl[53]=='999') }-->無情打釘者<!--{/if}-->
</b></span>
<!--{if ($cpl[53]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[53]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">強化數額： {$prc[53]}<br></font>
<!--{if ($cpl[53]=='0') }--><font color="olive">獎勵： 切糕5<br></font> 使用釘子來強化棍棒類武器777點<br><!--{/if}-->
<!--{if ($cpl[53]=='1') }--><font color="olive">獎勵： 切糕50 <span class="evergreen">稱號 棍棒愛好者</span><br></font> 使用釘子來強化棍棒類武器777點<br><!--{/if}-->
<!--{if ($cpl[53]=='2') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 無情打釘者</span><br></font> 使用釘子來強化棍棒類武器1777點<br><!--{/if}-->
<!--{if ($cpl[53]=='999') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 無情打釘者</span><br></font> 使用釘子來強化棍棒類武器17777點<br><!--{/if}-->
</td>
</tr></table>