<table><tr>
<td>
<!--{if ($cpl[55]) }--><img src="img/ach/lifetime_D.png"><!--{else}--><img src="img/ach/lifetime_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[55]=='0') }-->來打補丁吧！<!--{/if}-->
<!--{if ($cpl[55]=='1') }-->補丁愛好者<!--{/if}-->
<!--{if ($cpl[55]=='2') }-->無情補丁<!--{/if}-->
<!--{if ($cpl[55]=='999') }-->無情補丁<!--{/if}-->
</b></span>
<!--{if ($cpl[55]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[55]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">強化數額： {$prc[55]}<br></font>
<!--{if ($cpl[55]=='0') }--><font color="olive">獎勵： 切糕5<br></font> 使用針線包來強化裝備777點<br><!--{/if}-->
<!--{if ($cpl[55]=='1') }--><font color="olive">獎勵： 切糕50 <span class="evergreen">稱號 補丁愛好者</span><br></font> 使用針線包來強化裝備777點<br><!--{/if}-->
<!--{if ($cpl[55]=='2') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 無情補丁</span><br></font> 使用針線包來強化裝備1777點<br><!--{/if}-->
<!--{if ($cpl[55]=='999') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 無情補丁</span><br></font> 使用針線包來強化裝備17777點<br><!--{/if}-->
</td>
</tr></table>