<table><tr>
<td>
<!--{if ($cpl[0]) }--><img src="img/ach/mixitem_D.png"><!--{else}--><img src="img/ach/mixitem_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[0]=='0') }-->永恆世界的住人<!--{/if}-->
<!--{if ($cpl[0]=='1') }-->幻想世界的往人<!--{/if}-->
<!--{if ($cpl[0]=='2') }-->永恆的覆唱<!--{/if}-->
<!--{if ($cpl[0]=='999') }-->永恆的覆唱<!--{/if}-->
</b></span>
<!--{if ($cpl[0]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[0]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次數： {$prc[0]}次<br></font>
<!--{if ($cpl[0]=='0') }--><font color="olive">獎勵： 切糕10<br></font> 合成物品【KEY系催淚彈】1次<br><!--{/if}-->
<!--{if ($cpl[0]=='1') }--><font color="olive">獎勵： 積分200 <span class="evergreen">稱號 幻想</span><br></font> 合成物品【KEY系催淚彈】5次<br><!--{/if}-->
<!--{if ($cpl[0]=='2') }--><font color="olive">獎勵： 積分700 <span class="evergreen">稱號 流星</span><br></font> 合成物品【KEY系催淚彈】30次<br><!--{/if}-->
<!--{if ($cpl[0]=='999') }--><font color="olive">獎勵： 積分700 <span class="evergreen">稱號 流星</span><br></font> 合成物品【KEY系催淚彈】30次<br><!--{/if}-->
</td>
</tr></table>
