<table><tr>
<td>
<!--{if ($cpl[54]) }--><img src="img/ach/lifetime_D.png"><!--{else}--><img src="img/ach/lifetime_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[54]=='0') }-->來磨刀吧！<!--{/if}-->
<!--{if ($cpl[54]=='1') }-->磨刀愛好者<!--{/if}-->
<!--{if ($cpl[54]=='2') }-->無情磨刀者<!--{/if}-->
<!--{if ($cpl[54]=='999') }-->無情磨刀者<!--{/if}-->
</b></span>
<!--{if ($cpl[54]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[54]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">強化數額： {$prc[54]}<br></font>
<!--{if ($cpl[54]=='0') }--><font color="olive">獎勵： 切糕5<br></font> 使用磨刀石來強化斬系武器777點<br><!--{/if}-->
<!--{if ($cpl[54]=='1') }--><font color="olive">獎勵： 切糕50 <span class="evergreen">稱號 磨刀愛好者</span><br></font> 使用磨刀石來強化斬系武器777點<br><!--{/if}-->
<!--{if ($cpl[54]=='2') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 無情磨刀者</span><br></font> 使用磨刀石來強化斬系武器1777點<br><!--{/if}-->
<!--{if ($cpl[54]=='999') }--><font color="olive">獎勵： 切糕200 <span class="evergreen">稱號 無情磨刀者</span><br></font> 使用磨刀石來強化斬系武器17777點<br><!--{/if}-->
</td>
</tr></table>