<table><tr>
<td>
<!--{if ($cpl[40]) }--><img src="img/ach/mixitem_D.png"><!--{else}--><img src="img/ach/mixitem_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[40]=='0') }-->試試看遊戲王吧！<!--{/if}-->
<!--{if ($cpl[40]=='1') }-->光的道路<!--{/if}-->
<!--{if ($cpl[40]=='2') }-->決鬥者<!--{/if}-->
<!--{if ($cpl[40]=='999') }-->決鬥者<!--{/if}-->
</b></span>
<!--{if ($cpl[40]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[40]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次數： {$prc[40]}次<br></font>
<!--{if ($cpl[40]=='0') }--><font color="olive">獎勵： 切糕10<br></font> 合成物品星塵龍 ★8 1次<br><!--{/if}-->
<!--{if ($cpl[40]=='1') }--><font color="olive">獎勵： 積分100 <span class="evergreen">稱號 光的道路</span><br></font> 合成物品星塵龍 ★8 51次<br><!--{/if}-->
<!--{if ($cpl[40]=='2') }--><font color="olive">獎勵： 積分350 <span class="evergreen">稱號 決鬥者</span><br></font> 合成物品星塵龍 ★8 111次<br><!--{/if}-->
<!--{if ($cpl[40]=='999') }--><font color="olive">獎勵： 積分350 <span class="evergreen">稱號 決鬥者</span><br></font> 合成物品星塵龍 ★8 111次<br><!--{/if}-->
</td>
</tr></table>