<table><tr>
<td>
<!--{if ($cpl[57]) }--><img src="img/ach/battle_D.png"><!--{else}--><img src="img/ach/battle_D.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[57]=='0') }-->外來的神秘<!--{/if}-->
<!--{if ($cpl[57]=='1') }-->風馳電掣<!--{/if}-->
<!--{if ($cpl[57]=='2') }-->暴雷驟雨<!--{/if}-->
<!--{if ($cpl[57]=='999') }-->暴雷驟雨<!--{/if}-->
</b></span>
<!--{if ($cpl[57]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[57]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">擊殺總數： {$prc[57]}名<br></font>
<!--{if ($cpl[57]=='0') }--><font color="olive">獎勵： 切糕10<br></font> 擊殺1名殘響回聲<br><!--{/if}-->
<!--{if ($cpl[57]=='1') }--><font color="olive">獎勵： 積分100 <span class="evergreen">稱號 風馳電掣</span><br></font> 擊殺52名殘響回聲<br><!--{/if}-->
<!--{if ($cpl[57]=='2') }--><font color="olive">獎勵： 積分250 <span class="evergreen">稱號 暴雷驟雨</span><br></font> 擊殺103名殘響回聲<br><!--{/if}-->
<!--{if ($cpl[57]=='999') }--><font color="olive">獎勵： 積分250 <span class="evergreen">稱號 暴雷驟雨</span><br></font> 擊殺103名殘響回聲<br><!--{/if}-->
</td>
</tr></table>
