<table><tr>
<td>
<!--{if ($cpl[27]) }--><img src="img/ach/battle_D.png"><!--{else}--><img src="img/ach/battle_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[27]=='0') }-->秋後算賬<!--{/if}-->
<!--{if ($cpl[27]=='1') }-->報仇雪恨<!--{/if}-->
<!--{if ($cpl[27]=='2') }-->血洗英靈殿<!--{/if}-->
<!--{if ($cpl[27]=='999') }-->血洗英靈殿<!--{/if}-->
</b></span>
<!--{if ($cpl[27]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[27]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[進行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">擊殺總數： {$prc[27]}名<br></font>
<!--{if ($cpl[27]=='0') }--><font color="olive">獎勵： 切糕10<br></font> 擊殺1名英靈<br><!--{/if}-->
<!--{if ($cpl[27]=='1') }--><font color="olive">獎勵： 積分300<br></font> 擊殺30名英靈<br><!--{/if}-->
<!--{if ($cpl[27]=='2') }--><font color="olive">獎勵： 積分500 <span class="evergreen">稱號 替天行道</span><br></font> 擊殺100名英靈<br><!--{/if}-->
<!--{if ($cpl[27]=='999') }--><font color="olive">獎勵： 積分500 <span class="evergreen">稱號 替天行道</span><br></font> 擊殺100名英靈<br><!--{/if}-->
</td>
</tr></table>
