<table>
<tr>
    <!--{eval $alvl = $cpl[$aid] == 999 ? $alist[$aid]['lvl'] : $cpl[$aid]; $rlvl = $cpl[$aid] == 999 ? $alist[$aid]['lvl']-1 : $cpl[$aid];}-->
    <td>
        <!--{if file_exists("img/ach/".$aid."_".$alvl.".png") }-->
            <!-- 存在預設的對應階段圖標 -->
            <img src="img/ach/{$aid}_{$alvl}.png">
        <!--{elseif file_exists("img/ach/".$aid."_".$rlvl.".png") }-->
            <!-- 完成後的成就，不存在完成階段圖標，但是存在上一階段圖標 -->
            <img src="img/ach/{$aid}_{$rlvl}.png">
        <!--{elseif $alvl && file_exists("img/ach/".$aid.".gif") }-->
            <!-- 沒有定義階段，但是有通用階段圖標 -->
            <img src="img/ach/{$aid}.gif">
        <!--{else}-->
            <!-- 否則使用默認圖標 -->
            <!--{if !empty($alvl) }-->
                <!--{if file_exists("img/ach/".$tid."_D.png") }-->
                    <img src="img/ach/{$tid}_D.png">
                <!--{else}-->
                    <img src="img/ach/D.gif">
                <!--{/if}-->
            <!--{else}-->
                <!--{if file_exists("img/ach/".$tid."_N.png") }-->
                    <img src="img/ach/{$tid}_N.png">
                <!--{else}-->
                    <img src="img/ach/N.gif">
                <!--{/if}-->
            <!--{/if}-->
        <!--{/if}-->
    </td>
    <td class="ach_cont">
        <!-- 當前階段成就名 -->
        <span class="ach_title">
        <!--{if empty($alist[$aid]['name'][$alvl]) }-->
        <b>{$alist[$aid]['name'][$rlvl]}</b>
        <!--{else}-->
        <b>{$alist[$aid]['name'][$alvl]}</b>
        <!--{/if}-->
        </span>
        <!--{if !empty($alist[$aid]['lvldesc'][$alvl]) }-->
            <!-- 存在預設的對應階段的完成狀態描述文本 -->
            {$alist[$aid]['lvlname'][$alvl]}
        <!--{elseif !empty($alist[$aid]['lvldesc'][$rlvl]) }-->
            {$alist[$aid]['lvlname'][$rlvl]}
        <!--{else}-->
            <!-- 否則使用默認描述文本 -->
            <!--{if ($alvl == $alist[$aid]['lvl']) }-->
                <span class="lime">[完成]</span>
            <!--{elseif (!empty($alvl))}-->
                <span class="clan">[進行中]</span>
            <!--{else}-->
                <span class="red">[未完成]</span>
            <!--{/if}-->
        <!--{/if}-->
        <br>
        <!-- 當前階段成就完成情況 -->
        <font color="yellow">
        <!--{eval $nums = is_array($prc[208]) ? count($prc[208]) : 0; }-->
        <!--{if $nums>0 }-->
            <!--{eval $sname = "已集齊套裝：\r";}-->
            <!--{loop $prc[208] $sid}-->
                 <!--{eval $sname .= get_set_items_info()[$sid]['name']."\r";}-->
            <!--{/loop}-->
        <!--{/if}-->
               <span <!--{if !empty($sname) }-->tooltip="{$sname}"<!--{/if}-->>已集齊套裝種類：{$nums}種</span>
        </font>
        <br>
        <!-- 當前階段達成獎勵 -->
        <font color="olive">
            獎勵：
            <!--{if $alist[$aid]['c1'][$rlvl] }-->
                積分{$alist[$aid]['c1'][$rlvl]}
            <!--{/if}-->

            <!--{if $alist[$aid]['c2'][$rlvl] }-->
                切糕{$alist[$aid]['c2'][$rlvl]}
            <!--{/if}-->

            <!--{if $alist[$aid]['title'][$rlvl] }-->
                <span class="evergreen">稱號 {$alist[$aid]['title'][$rlvl]}</span>
            <!--{/if}-->
        </font>
        <br>
        <!-- 當前階段達成需求描述 -->
        {$alist[$aid]['desc'][$rlvl]} 
</td>
</tr>
</table>
