<form method="post" name="gameinfomng" onsubmit="admin.php">
	<input type="hidden" name="mode" value="gameinfomng">
	<input type="hidden" id="command" name="command" value="">
	
	<table class="admin">
		<tr>
			<th>遊戲變量</th>
			<th>當前數據</th>
			<th>操作</th>
		</tr>
		
		<tr>
			<td>遊戲局數</td>
			<td>$gamenum</td>
			<td></td>
		</tr>
		<tr>
			<td>遊戲狀態</td>
			<td>$gstate[$gamestate]</td>
			<td>
				<!--{if $gamestate == 0}-->
				<input type="submit" value="準備開始" onclick="$('command').value='gsedit_10'"><br>
				<input type="submit" value="開始遊戲" onclick="$('command').value='gsedit_20'">
				<!--{elseif $gamestate == 10}-->
				<input type="submit" value="開始遊戲" onclick="$('command').value='gsedit_20'"><br>
				<input type="submit" value="結束遊戲" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 20}-->
				<input type="submit" value="停止激活" onclick="$('command').value='gsedit_30'"><br>
				<input type="submit" value="進入連鬥" onclick="$('command').value='gsedit_40'"><br>
				<input type="submit" value="進入死鬥" onclick="$('command').value='gsedit_50'"><br>
				<input type="submit" value="結束遊戲" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 30}-->
				<input type="submit" value="進入連鬥" onclick="$('command').value='gsedit_40'"><br>
				<input type="submit" value="進入死鬥" onclick="$('command').value='gsedit_50'"><br>
				<input type="submit" value="結束遊戲" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 40}-->
				<input type="submit" value="進入死鬥" onclick="$('command').value='gsedit_50'"><br>
				<input type="submit" value="結束遊戲" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 50}-->
				<input type="submit" value="結束遊戲" onclick="$('command').value='gsedit_0'">
				<!--{/if}-->
			</td>
		</tr>
		<tr>
			<td>
				<!--{if $gamestate}-->
				當前遊戲開始時間
				<!--{else}-->
				下局遊戲開始時間
				<!--{/if}-->
			</td>
			<td>				
				<input type="text" name="setyear" size="4" value="{$styear}">{$lang['year']}
				<input type="text" name="setmonth" size="2" value="{$stmonth}">{$lang['month']}
				<input type="text" name="setday" size="2" value="{$stday}">{$lang['day']}
				<input type="text" name="sethour" size="2" value="{$sthour}">{$lang['hour']}
				<input type="text" name="setmin" size="2" value="{$stmin}">{$lang['min']}
			</td>
			<td>
				<!--{if $gamestate}-->
				<input type="submit" value="無法設定" disabled>
				<!--{else}-->
				<input type="submit" value="設定時間" onclick="$('command').value='sttimeedit'">
				<!--{/if}-->
			</td>
		</tr>
		<tr>
			<td>當前天氣</td>
			<td>
				<select name="iweather">
					<!--{loop $wthinfo $n $wth}-->
					<option value="$n" <!--{if $weather == $n}-->selected<!--{/if}-->>$wth
					<!--{/loop}-->
				</select>
			</td>
			<td><input type="submit" value="更改天氣" onclick="$('command').value='wthedit'"></td>
		</tr>
		<tr>
			<td>禁區列表</td>
			<td>$arealiststr</td>
			<td></td>
		</tr>
		<tr>
			<td>下次禁區列表</td>
			<td>$nextarealiststr</td>
			<td></td>
		</tr>
		<tr>
			<td>已有禁區數目</td>
			<td>$areanum</td>
			<td></td>
		</tr>
		<tr>
			<td>下次禁區時間</td>
			<td>
				<input type="text" name="areayear" size="4" disabled value="{$aryear}">{$lang['year']}
				<input type="text" name="areamonth" size="2" disabled value="{$armonth}">{$lang['month']}
				<input type="text" name="areaday" size="2" disabled value="{$arday}">{$lang['day']}
				<input type="text" name="areahour" size="2" disabled value="{$arhour}">{$lang['hour']}
				<input type="text" name="areamin" size="2" disabled value="{$armin}">{$lang['min']}
			</td>
			<td><input type="submit" value="立刻禁區" onclick="$('command').value='areaadd'"></td>
		</tr>
		<tr>
			<td>禁區解除</td>
			<td>
				<input type="radio" name="ihack" value="1" <!--{if $hack}-->checked<!--{/if}-->>是&nbsp;&nbsp;&nbsp;<input type="radio" name="ihack" value="0" <!--{if !$hack}-->checked<!--{/if}-->>否
			</td>
			<td><input type="submit" value="更改狀態" onclick="$('command').value='hackedit'"></td>
		</tr>
	</table>
</form> 