<TABLE border="1">
	<tr align="center" class="b1">
		<td class="b1"><span>名字&編號</span></td>
		<td class="b1"><span>頭銜</span></td>
		<td width="140" class="b1"><span>頭像</span></td>
		<td class="b1"><span>等級</span></td>
		<td class="b1"><span>殺害玩家數</span></td>
		<td class="b1"><span>當前金錢數</span></td>
		<td class="b1"><span>APM</span></td>
		<!--{if $gamestate < 40 }--><td class="b1"><span>隊伍名</span></td><!--{/if}-->
		<!--{if $gamestate < 40 }--><td class="b1"><span>隊伍頭像</span></td><!--{/if}-->
		<td width="300" class="b1"><span>口頭禪</span></td>
		<td class="b1"><span>勝率</span></td>
		<!--{if $gamblingon }--><td class="b1"><span>支持者數</span></td>
		<td class="b1"><span>切糕數</span></td><!--{/if}-->
	</tr>

	<!--{loop $alivedata $alive}-->

	<tr class="b3">
		<td align="center" class="b3"><span><u><a href="user_profile.php?playerID=$alive['name']">$alive['name']</a></u><br>$sexinfo[$alive['gd']] $alive['sNo'] 號</span></td>
		<td class="b3" style="padding: 5px;"><span>$alive['nick']</span></td>
		<td align="center" class="b3"><span><IMG src="img/$alive['iconImg']" width="140" height="80" border="0" align="absmiddle"></span></td>
		<td class="b3"><span>$alive['lvl']</span></td>
		<td class="b3"><span>$alive['killnum']</span></td>
		<td class="b3"><span>$alive['money']</span></td>
		<td class="b3"><span>$alive['apm']</span></td>
		<!--{if $gamestate < 40 }--><td class="b3"><span><!--{if $alive['teamID']}-->$alive['teamID']<!--{else}-->無<!--{/if}--></span></td><!--{/if}-->
		<!--{if $gamestate < 40 }--><td class="b3"><span><!--{if $alive['teamID']}--><img src="img/t_{$alive['teamIcon']}.gif" alt="0" style="max-height: 80px;"><!--{else}-->無<!--{/if}--></span></td><!--{/if}-->
		<td class="b3"><span>$alive['motto']</span></td>
		<td class="b3"><span>$alive['winrate']</span></td>
		<!--{if $gamblingon }--><td class="b3"><span>$alive['gbnum']</span></td>
		<td class="b3"><span>$alive['gbsum']</span></td><!--{/if}-->
	</tr>

	<!--{/loop}-->

</table>
