{template header}
<br>
<div class="subtitle">對玩家Ansomme的處理決定</div>

<p>玩家<span class="yellow">Ansomme（TNT小小、a1147938573）</span><br>在進行大逃殺遊戲時，在死亡後創建了一系列辱罵玩家<span class="yellow">kyo217</span>的賬户進入遊戲，<br>現對其就這一行為進行處理。 </p>
<p><span class="red">對於這種純粹的弱者，我沒有什麼好説的。<br>這個遊戲不適合你。建議你端正心態之後再嘗試接觸這個遊戲。</span></p>
<p><span class="clan">現對玩家<span class="yellow">Ansomme</span>作出如下處理。<br>在0服和電波服內，玩家<span class="yellow">Ansomme</span>及其同IP的所有ID全部封禁，IP段永久封禁。<br>如其換IP新註冊ID，管理方不會進行二次處理。 </span></p>
<p><span class="evergreen">最後，希望大家在大逃殺時能夠做到尊重遊戲本身、尊重遊戲規則、尊重其他玩家、尊重遊戲的維護者。</span></p>
<p>
<span class="yellow">虛子<br>
2013.3.16</span>
</p>

<br>
<br>
<br>
<br>
<br>

<div class="subtitle">對玩家jq8778的處理決定</div>

<p>玩家<span class="yellow">jq8778</span>在進行大逃殺遊戲時，因認為GM清除掛機影響了其遊戲體驗，<br>將簽名改成<span class="red">“權限狗全家去死，天天無故清掛機”</span>。現對其就這一行為進行處理。 </p>
<p>清除掛機玩家是大逃殺的一項正常工作。<br>雖然清掛機會對PVE或者想要慢慢玩的玩家造成影響，<br>但是這種影響是完全可以簡單的規避的。<span class="yellow">jq8778</span>自己沒有主動規避影響，<br>在被清掛機以後就辱罵GM，這是極度惡劣的行為。</p><p>著名大逃殺玩家菜包，在被人坑殺之後一氣之下拖了8禁，<br>雖然在情感上，這是一種惡劣的行為，但是這種行為是符合大逃殺遊戲規則的，<br>也並沒有利用程序BUG，所以GM沒有對其作出任何處理。<br><span class="evergreen">一切符合遊戲規則的行為都應當得到保護，GM清除掛機玩家也是一樣。</span><br><span class="yellow">jq8778</span>在對其留言辯解時還稱<span class="red">“罵的不是所有GM，而是清掛機的人”</span>，説明其仍然沒有認識到自己的錯誤之處。   </p>
<p>BR大逃殺作為一個非盈利項目，完全由一羣愛好者進行維護。<br>大家的目標都是讓大逃殺變的更好，然而人與人之間不可避免的會出現分歧，<br>這種時候就需要人們的思考和理解。雖然大逃殺近來人氣不高，我們也迫切希望有更多玩家來玩，<br>但是像這種稍不合自己心意就血口噴人的玩家，我們<span class="red">不需要</span>。<br><span class="evergreen">免費玩着別人的遊戲，卻缺少對別人基本的尊重，這説的過去嗎？<br>你不滿管理者的行為，可以提出，得不到理想的回覆，<span class="red">大可以不玩</span>。</span><br>上來就問候別人全家，未免太沒有素質了。</p>
<p><span class="clan">現對玩家<span class="yellow">jq8778</span>作出如下處理。<br>在0服和電波服內，玩家<span class="yellow">jq8778</span>及其同IP的所有ID全部刪除，IP段永久封禁。<br>如其換IP新註冊ID，管理方不會進行二次處理。 </span></p>
<p><span class="evergreen">最後，希望大家在大逃殺時能夠做到尊重遊戲本身、尊重遊戲規則、尊重其他玩家、尊重遊戲的維護者。</span></p>
<p>
<span class="yellow">虛子<br>
2013.1.12</span>
</p>

{template footer}