<input type="hidden" id="mode" name="mode" value="command">
<input type="hidden" id="command" name="command" value="menu">
<input type="hidden" id="subcmd" name="subcmd" value="">
<input type="hidden" id="subcmd2" name="subcmd2" value="">
現在想要做什麼？<br /><br />

<input type="button" class="cmdbutton" id="zz" name="search" value="[Z]搜尋" onclick="$('command').value='search';postCmd('gamecmd','command.php');this.disabled=true;" <!--{if (array_search($pls,$arealist) <= $areanum && !$hack) && (isset($plsinfo[$pls]) && !isset($hplsinfo[$pgroup]))}-->disabled<!--{/if}-->>
<select id="moveto" name="moveto" id="d" onchange="$('command').value='move';postCmd('gamecmd','command.php');this.disabled=true;">
{template move}
</select>
	<!-- 探索記憶欄 -->
	<!--{if !empty($clbpara['smeo'])}-->
			<br>
			<!--{loop $clbpara['smeo'] $smkey $sm}-->
			<input type="button" class="cmdbutton" style="padding: 0px; margin-top: 15px;"
				<!--{eval $sm_nm = parse_itmname_words($sm[2],1,10); }-->
				<!--{if $sm[1] == 'itm'}-->
					value="獲取 {$sm_nm}"
				<!--{elseif $sm[1] == 'enemy'}-->
						value="迎戰 {$sm_nm}"
				<!--{elseif $sm[1] == 'corpse'}-->
						value="檢查 {$sm_nm} 的屍體"
				<!--{elseif $sm[1] == 'corpse'}-->
						value="和 {$sm_nm} 打招呼"
				<!--{/if}-->
				onclick="$('mode').value='command';$('command').value='memory{$smkey}';postCmd('gamecmd','command.php');this.disabled=true;">
			<!--{/loop}-->
	<!--{/if}-->
	<br />
	<!-- 揹包欄 -->
	<br />
	<!--{if $itms1}-->
	<input type="button" id="11" class="cmdbutton" <!--{if strpos($itmk1,'W')===0 || strpos($itmk1,'D')===0 || strpos($itmk1,'A')===0}-->value="[1]裝備"<!--{else}-->value="[1]使用"<!--{/if}--> onclick="$('mode').value='command';$('command').value='itm1';postCmd('gamecmd','command.php');this.disabled=true;"><span class="yellow">{$itm1}</span>/{$itme1}/{$itms1}<br>
	<!--{/if}-->
	<!--{if $itms2}-->
	<input type="button" id="22" class="cmdbutton" <!--{if strpos($itmk2,'W')===0 || strpos($itmk2,'D')===0 || strpos($itmk2,'A')===0}-->value="[2]裝備"<!--{else}-->value="[2]使用"<!--{/if}--> onclick="$('mode').value='command';$('command').value='itm2';postCmd('gamecmd','command.php');this.disabled=true;"><span class="yellow">{$itm2}</span>/{$itme2}/{$itms2}<br>
	<!--{/if}-->
	<!--{if $itms3}-->
	<input type="button" id="33" class="cmdbutton" <!--{if strpos($itmk3,'W')===0 || strpos($itmk3,'D')===0 || strpos($itmk3,'A')===0}-->value="[3]裝備"<!--{else}-->value="[3]使用"<!--{/if}--> onclick="$('mode').value='command';$('command').value='itm3';postCmd('gamecmd','command.php');this.disabled=true;"><span class="yellow">{$itm3}</span>/{$itme3}/{$itms3}<br>
	<!--{/if}-->
	<!--{if $itms4}-->
	<input type="button" id="44" class="cmdbutton" <!--{if strpos($itmk4,'W')===0 || strpos($itmk4,'D')===0 || strpos($itmk4,'A')===0}-->value="[4]裝備"<!--{else}-->value="[4]使用"<!--{/if}--> onclick="$('mode').value='command';$('command').value='itm4';postCmd('gamecmd','command.php');this.disabled=true;"><span class="yellow">{$itm4}</span>/{$itme4}/{$itms4}<br>
	<!--{/if}-->
	<!--{if $itms5}-->
	<input type="button" id="55" class="cmdbutton" <!--{if strpos($itmk5,'W')===0 || strpos($itmk5,'D')===0 || strpos($itmk5,'A')===0}-->value="[5]裝備"<!--{else}-->value="[5]使用"<!--{/if}--> onclick="$('mode').value='command';$('command').value='itm5';postCmd('gamecmd','command.php');this.disabled=true;"><span class="yellow">{$itm5}</span>/{$itme5}/{$itms5}<br>
	<!--{/if}-->
	<!--{if $itms6}-->
	<input type="button" id="66" class="cmdbutton" <!--{if strpos($itmk6,'W')===0 || strpos($itmk6,'D')===0 || strpos($itmk6,'A')===0}-->value="[6]裝備"<!--{else}-->value="[6]使用"<!--{/if}--> onclick="$('mode').value='command';$('command').value='itm6';postCmd('gamecmd','command.php');this.disabled=true;"><span class="yellow">{$itm6}</span>/{$itme6}/{$itms6}<br>
	<!--{/if}-->
<br>

	<!-- 第 -1 行：社團提示相關-->
	<!--{if $club==19}-->
		【<span class="lime">報應點數：<span id="anum">$rp</span></span>】<br>
	<!--{/if}-->
	<!--{if $nick==69}-->
		【<span class="lime">夢之數值：<span id="anum">$clbpara['randver1']</span>，<span id="anum">$clbpara['randver2']</span>，<span id="anum">$clbpara['randver3']</span></span>】<br>
	<!--{/if}-->
	<!--{if $clbpara['BGMBrand']=='rixolamal'}-->
	【<span class="lime">你投出的骰子數量：<span id="anum">$clbpara['diceRolled']</span></span>】<br>
	<br>
	【🍀<span class="minirainbow">你正在反叛隨機數大神！</span>🍀】<br>
	💥你每次產生隨機數都將<span class="lime">隨機獲得·失去</span>少量<span class="yellow">最大生命·最大體力·攻擊力·防禦力</span>！<br>
	💥你每次產生隨機數都將<span class="lime">隨機獲得·失去</span>少量<span class="yellow">全系熟練</span>！<br>
	💥你使用的<span class="lime">補給效果</span>將會<span class="yellow">混沌化</span>！<br>
	💥你埋設的<span class="lime">陷阱傷害</span>將會<span class="yellow">混沌化</span>！<br>
	<br>
	【<span class="lime">你反叛隨機數大神的骰子數量：<span id="anum">$clbpara['traitorRoll']</span></span>】<br>
	<!--{/if}-->

	<!-- 第 1 行 : 包裹相關-->
	<!--{if $club==20}-->
		<!--{if $clbstatusa}-->
		<input type="button" class="cmdbutton" id="elementmix" name="elementmix" value="■■■■" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='elementmix';postCmd('gamecmd','command.php');this.disabled=true;">
		<!--{else}-->
		<input type="button" class="cmdbutton" id="elementmix" name="elementmix" value="元素口袋" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='elementmix';postCmd('gamecmd','command.php');this.disabled=true;">
		<!--{/if}-->
	<!--{else}-->
	<input type="button" class="cmdbutton" id="itemmix" name="itemmix" value="道具合成" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemmix';postCmd('gamecmd','command.php');this.disabled=true;">
	<!--{/if}-->
	<span tooltip="交換道具位置，或合併可堆疊道具">
		<input type="button" class="cmdbutton" id="itemmerge" name="itemmerge" value="整理包裹" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemmerge';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<input type="button" class="cmdbutton" id="itemdrop" name="itemdrop" value="道具丟棄" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemdrop';postCmd('gamecmd','command.php');this.disabled=true;">
	<br>

	<!-- 第 2 行: 武器相關-->
	<span tooltip="切換主/副武器，或將手中武器存放於副武器欄內">
		<input type="button" class="cmdbutton" id="cc" name="sw_weapon" value="[C]切換武器" onclick="$('mode').value='itemmain';$('command').value='changewep';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<span tooltip="裝備的武器中帶有“多重”屬性時，點此轉換武器模式">
		<input type="button" class="cmdbutton" name="sp_weapon" value="武器模式" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_weapon';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<span tooltip="消耗{$arte}點歌魂歌唱，可能會暴露自己的位置">
		<!--{if strpos($artk,'ss')!==false}-->
		<input type="button" class="cmdbutton" id="sp_weapon" name="sp_weapon" value="歌唱" onclick="$('command').value='song';$('subcmd').name='song';postCmd('gamecmd','command.php');this.disabled=true;">
		<!--{/if}-->
	</span>
	<br>

	<!-- 第 2.5 行: 揹包指令-->
	<!--{if strpos($arbsk,'^')!==false && $arbs && $arbe}-->
	<input type="button" class="cmdbutton" id="itemencase" name="itemencase" value="存放道具" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemencase';postCmd('gamecmd','command.php');this.disabled=true;">
	<input type="button" class="cmdbutton" id="itemout" name="itemout" value="取出道具" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemout';postCmd('gamecmd','command.php');this.disabled=true;">
	<span tooltip="查看揹包中存放的道具信息與揹包容量">
		<input type="button" class="cmdbutton" id="itemmain" name="itemmain" value="揹包信息" onclick="$('mode').value='itemmain';$('command').value='iteminfo';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<br>
	<!--{/if}-->

	<!-- 第 3 行：休養指令-->
	<span tooltip="進入睡眠狀態，隨時間緩慢恢復體力
	<!--{if $pose == 8}-->當前地圖存活種火數量越多，恢復速率越快<!--{/if}-->
	">
		<input type="button" class="cmdbutton" id="q" name="rest1" value="[Q]睡眠" onclick="$('command').value='rest1';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<span tooltip="進入治療狀態，隨時間緩慢恢復生命
	<!--{if $pose == 8}-->當前地圖存活種火數量越多，恢復速率越快<!--{/if}-->
	">
		<input type="button" class="cmdbutton" id="w" name="rest2" value="[W]治療" onclick="$('command').value='rest2';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<!--{if in_array($pls,$hospitals)}-->
	<span tooltip="進入靜養狀態，隨時間緩慢恢復生命與體力，同時可以積攢怒氣">
		<input type="button" class="cmdbutton" id="e" name="rest3" value="[E]靜養" onclick="$('command').value='rest3';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<!--{/if}-->
	<br>

	<!-- 第 3.5 行：隊伍指令-->
	<!--{if $gamestate < 40 && $club != 22}-->
		<!--{if !$teamID}-->
		<span tooltip="消耗{$team_sp}點體力，創建一支隊伍">
			<input type="button" class="cmdbutton" id="teammake" name="teammake" value="組建隊伍" onclick="$('command').value='team';$('subcmd').name='teamcmd';$('subcmd').value='teammake';postCmd('gamecmd','command.php');this.disabled=true;">
		</span>
		<span tooltip="消耗{$teamj_sp}點體力，加入一支隊伍">
			<input type="button" class="cmdbutton" id="teammake" name="teamjoin" value="加入隊伍" onclick="$('command').value='team';$('subcmd').name='teamcmd';$('subcmd').value='teamjoin';postCmd('gamecmd','command.php');this.disabled=true;">
		</span>
		<!--{else}-->
		<input type="button" class="cmdbutton" id="teammake" name="teamquit" value="脱離隊伍" onclick="$('command').value='team';$('subcmd').name='teamcmd';$('subcmd').value='teamquit';postCmd('gamecmd','command.php');this.disabled=true;">
		<!--{/if}-->
	<br />
	<!--{/if}-->
	<!--{if $club == 22}-->
	<span tooltip="楓火歌者無法組隊，但可以收納種火作為隨從">
		<input type="button" class="cmdbutton" id="fireseed_manage" name="fireseed_manage" value="種火管理" onclick="openSidePanelToFireseedTab();">
	</span>
	<br />
	<!--{/if}-->

	<!-- 第 4 行：地區功能-->
	<!--{if in_array($pls,$shops) || !check_skill_unlock('c11_ebuy',$pdata)}-->
		<input type="button" class="cmdbutton" id="aa" name="sp_shop" value="[A]商店" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_shop';postCmd('gamecmd','command.php');this.disabled=true;">
		<br>
	<!--{/if}-->
	<!--{if in_array($pls,$depots)}-->
	<span tooltip="向安全箱中存入或取出道具">
		<input type="button" class="cmdbutton" name="sp_depot" value="安全箱" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_depot';postCmd('gamecmd','command.php');this.disabled=true;">
	</span>
	<br>
	<!--{/if}-->

	<!-- 第 5 行：社團特殊功能-->
	<!--{if $club == 7}-->
		<span tooltip="消耗一枚電池，為武器或陷阱附加電擊屬性">
			<input type="button" class="cmdbutton" id="sp_adtsk" name="sp_adtsk" value="武器帶電" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_adtsk';postCmd('gamecmd','command.php');this.disabled=true;">
			<input type="button" class="cmdbutton" id="sp_trapadtsk" name="sp_trapadtsk" value="陷阱帶電" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_trapadtsk';postCmd('gamecmd','command.php');this.disabled=true;">
		</span>
		<br />
	<!--{elseif $club == 8}-->
		<span tooltip="消耗一份毒藥，為武器或陷阱附加帶毒屬性">
			<input type="button" class="cmdbutton" id="sp_adtsk" name="sp_adtsk" value="武器淬毒" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_adtsk';postCmd('gamecmd','command.php');this.disabled=true;">
			<input type="button" class="cmdbutton" id="sp_trapadtsk" name="sp_trapadtsk" value="陷阱淬毒" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_trapadtsk';postCmd('gamecmd','command.php');this.disabled=true;">
		</span>
		<span tooltip="選擇一份揹包中的補給品，檢查其是否帶毒">
			<input type="button" class="cmdbutton" id="sp_poison" name="sp_poison" value="檢查毒物" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_poison';postCmd('gamecmd','command.php');this.disabled=true;">
		</span>
		<br />
    <!--{elseif $club == 21}-->
        <span tooltip="可以通過消耗體力，將武器·裝備上的「要素」取出成為物品">
            <input type="button" class="cmdbutton" id="sp_extract_trait" name="sp_extract_trait" value="提取「🥚」" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_extract_trait';postCmd('gamecmd','command.php');this.disabled=true;">
        </span>
        <span tooltip="插回其他物品讓其他物品獲得這些屬性">
            <input type="button" class="cmdbutton" id="sp_add_trait" name="sp_add_trait" value="插入「🥚」" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_add_trait';postCmd('gamecmd','command.php');this.disabled=true;">
        </span>
		<span tooltip="消耗代碼片段，以永久減少移動/探索時的生命/體力損失">
            <input type="button" class="cmdbutton" id="sp_consume_trait" name="sp_consume_trait" value="消耗「🥚」" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_consume_trait';postCmd('gamecmd','command.php');this.disabled=true;">
        </span>
        <br />
	<!--{elseif $club == 99}-->
		<span tooltip="捨棄當前稱號，使屬性大幅提升">
			<input type="button" class="cmdbutton" id="sp_pbomb" name="sp_pbomb" value="X 按鈕" onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_pbomb';postCmd('gamecmd','command.php');this.disabled=true;">
		</span>
		<br />
	<!--{/if}-->
	<br />

	<!-- 子面板 -->
	<span tooltip="查看戰場地圖、切換背景音樂或調節背景音量">
		<input type="button" class="cmdbutton" id="s" name="sp_terminal" value="[S]子面板" onclick="showModalDialog($('terminal'));">
	</span>
	{template sp_terminal}
	<!--{if isset($gamevars['apis'])}-->
	{template sp_console_search}
	<!--{/if}-->

	<!-- 技能面板 -->
	<span tooltip="升級或使用技能">
		<input type="button" class="cmdbutton" id="v" name="skillstable" value="[V]技能表" onclick="showModalDialog($('skillpage'));">
	</span>
	{template skillpage}

	<!--{if !empty(get_skillpara('c11_merc','id',$clbpara))}-->
	<span tooltip="查看或管理傭兵">
		<input type="button" class="cmdbutton" name="sp_mercpage" value="傭兵管理" onclick="showModalDialog($('mercpage'));">
	</span>
	{template skill_mercpage}
	<!--{/if}-->

	<!--<br>
	<span tooltip="創建一項新的合成索引，會覆蓋掉原來的索引記錄">
		<input type="button" class="cmdbutton" id="v" name="skillstable" value="合成索引" onclick="showModalDialog($('skillpage'));">
	</span> -->
