{template header}

<!--{if $hp <= 0}-->
	<div class="subtitle">$stateinfo[$state]</div>
	<div><IMG src="img/$iconImg" width="140" height="80" border="0"align="middle" style="filter: Xray()"></div>
	<div class="yellow b">$motto</div>
	<div><!--{if $dinfo[$state]}-->$dinfo[$state]<!--{else}-->你莫名地死了。這應該是BUG，請通知管理員。<!--{/if}--></div>
	<div>死亡時間：$dtime</div>
	<!--{if !empty($kname) && $state>=10}--><div>兇手：$kname</div><!--{/if}-->
	<!--{if $state == 33}--><div><img src="img/gradius.jpg" align="middle" /></div><!--{/if}-->
	<div class="evergreen2">祝下次遊戲好運！</div>
<!--{elseif $gamestate == 0}-->
	<!--{if $winmode == 2 && $state == 5}-->
	<div class="subtitle">遊戲結束</div>
	<BR>
	<p>噗通。<BR>
	眼前，渾身是血的網友直勾勾地盯着我，然後跪倒在地。<BR>
	血從他身上那可怖的傷口裏，像噴泉一樣湧出來。<BR>
	我和他雙目對視，看着他眼中的生命之火迅速熄滅。<BR>
	又一個，死了。</p>
	<p><span class="yellow">“所以你看到了麼，客户，現在這裏的情況還很安全。”</span><BR>
	<span class="clan">“……………………”</span><BR>
	這些聲音……是開局時見到的那位紅殺成員們！她們的聲音為什麼會直接出現在我的腦海裏？<BR>
	<span class="yellow">“請稍等片刻，馬上就放你出去。好好等着吧。”</span></p>
	<p>是嘛……我活下來了啊，最後我終於活下來了啊！哈哈，啊哈哈哈……<BR>
	我呆滯地笑着，抬頭望向蒼天。<BR>
	身邊的景物開始模糊崩壞。<BR>
	虛擬世界的運行，馬上就要被停止了吧。這之後，首席執行官們，真的會放我出去嗎？<BR>
	還是説，他們會把我也一起殺掉？<BR>
	不過，我沒功夫考慮那麼多了。</p>
	<p>高度緊繃的心絃斷開的一瞬間，睡意便馬上襲來。<BR>
	數個小時的生死搏鬥之後，疲憊的身體開始失去知覺，緊張的神經開始不聽使喚。<BR>
	不能睡去，要警覺！但是，儘管我拼命地提醒自己，倦意還是把我整個籠罩了。<BR>
	視野開始模糊了，我無可挽回地沉入了夢鄉。</p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>我彷彿又回到了呼嘯着血雨腥風的大逃殺戰場上。<BR>
	被我親手劈下頭顱的網友，又扯着自己的腦袋站起來説道：<BR>
	“你比楊叫獸還厲害嘛，人都給你殺光了。”<BR>
	在我身後，失去了半個身體的技術帝抱住了我的腳：<BR>
	“説什麼‘逃出去以後，一起出同人本吧’的人，不是你嗎！”<BR>
	身旁黑暗的角落更是傳來了此起彼伏的怒吼聲：<BR>
	“傻逼！”<BR>
	“幹掉他！”<BR>
	我就這樣任由他們折磨着自己。<BR>
	想説點什麼，但是嗓子好像被什麼攥住了，只有淚水不斷地滾落下來。<BR>
	……好不容易發出點聲音，但是卻帶着哭腔：<BR>
	“不、不是我的錯啊！錯的……錯的是這個世界啊！”</p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>身體的搖晃感，讓我甦醒過來。<BR>
	原來是夢啊，還好……<BR>
	我向四周望去，自己似乎身在奇怪的車輛之中。<BR>
	旁邊身穿黑衣的男子朝這邊瞟了一眼，又轉過頭去。<BR>
	這裏大概就是現實世界了吧。<BR>
	膝蓋上有張紙條。拾起一看，只有一行小字：<BR>
	<span class="evergreen">“待會見記者。不要做你不該做的事。林無月”</span><BR>
	林無月……那兩個傭兵刺客的僱主嗎……<BR>
	這難看而冷酷的詞句讓我剛剛放下的心再度懸了起來。<BR>
	就算逃到現實中，也還是沒法擺脱這種夢魘嗎？</p>
	<p>突然，車門打開了。讓人睜不開眼的閃光燈的浪潮中，無數話筒伸了過來。<BR>
	我漠然地抬起頭。<BR>
	擠到最前排的記者們推搡着，在警察的阻擋下努力向我靠近。<BR>
	一個看不清的面孔湊了上來，拿着話筒像連珠炮一樣發問着：<BR>
	“……你是這次生存遊戲事故的唯一生還者吧？<BR>
	“我們XX網絡電視頻道向對你做個簡單的採訪……首先你的名字是？……”<BR>
	未曾料到的情況衝擊着我的神經。<BR>
	事故？這是怎麼回事？……</p>
	<p>身旁的男子此刻站起來擋住記者的視線：<BR>
	“他因為衝擊而失憶了，請不要刺激他。”<BR>
	趁警察和記者正推搡着，男子想要把我重新拽回車裏去。</p>
	<p>衝擊？失憶？……<BR>
	難道……<BR>
	在我昏睡的時候，那力量……<BR>
	把一切都篡改了嗎？</p>
	<p>不過，不論如何，這是在現實世界。<BR>
	這不是大逃殺的野蠻國度，而是有法律的文明世界。<BR>
	不會再有你死我活的追殺和赤裸裸的生命威脅了。<BR>
	只要我把一切説出，眾目睽睽之下，就算神通廣大如他們，也沒法把我怎麼樣吧！<BR>
	我下定了決心。</p>
	<p>在下一個閃光亮起的一瞬間，我掙脱了男子的手臂，然後向記者們衝去。<BR>
	一邊跑着，一邊以人生中最高亢的聲調喊出：<BR>
	<span class="yellow">“ {$sexinfo[$gd]}{$sNo}號，{$name} ”</span><BR>
	然後，不顧眾人驚愕的目光，<BR>
	以自己都不敢相信的語速，<BR>
	將這次大逃殺的參與者，也就是死在我手下的眾網友們的名字，一一報出。</p>
	<p>支撐着我勝出的，是對那渺茫的希望的追求。<BR>
	我要逃出這個虛擬的魔窟，<BR>
	我要把實情告訴每一個人，<BR>
	我要讓那些不可理喻的幕後力量，<BR>
	那些以淨化網絡的名義，踐踏我們的生命的狂人們，<BR>
	受到他們應有的制裁！</p>
	<p>為了這樣做，就只能……<BR>
	就只能，取得這場生存遊戲的勝利……<BR>
	就只能，把原本在同一陣線的網友們，全部殺光……</p>
	<p>誠然，下這樣的決心並不容易。<BR>
	然而，這就是，我的信念。<BR>
	我要用自己的這雙手，<BR>
	這雙沾滿人類鮮血的手，<BR>
	親手撕開他們虛偽的麪皮！</p>
	<p>所以，被我殺害的網友們啊……<BR>
	被我殺害的技術帝們啊……<BR>
	所有被我殺害的，那一個一個鮮活的生命們啊……<BR>
	我會繼承你們的生命，<BR>
	帶着你們的仇恨，<BR>
	懷着你們的希望，<BR>
	活下去。<BR>
	努力地活下去。<BR>
	就算後半生只能在噩夢中掙扎，<BR>
	就算今後的笑容裏都帶着淚光，<BR>
	我也要、我也要……</p>
	<p>“大家，都死了……<BR>
	“但是、大家都在這裏，都活在這裏啊！”<BR>
	此時此刻，我已泣不成聲。</p>
	<p>接下來，在表情錯愕的警察面前，<BR>
	在震驚之餘記錄下每一句話的記者面前，<BR>
	在捂住嘴巴不敢發聲的圍觀的路人面前，<BR>
	我剋制着自己的悲痛，<BR>
	努力地、一字一句地，<BR>
	將那十數個小時的地獄之行，和盤托出。</p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>某月某日，空無一人的生存遊戲會場。<BR>
	參加會展的儀器都已經搬空，偌大的會場裏，只有大屏幕還在顯示着新聞。<BR>
	“……警方對前段日子的動漫祭特大惡性殺人事件的調查已經告一段落，現在讓我們來回顧一下事件的始末……”<BR>
	會場裏僅有的一名黑衣男子，似乎對這爆炸性的新聞絲毫不感興趣，自顧自地打着手機。<BR>
	“你們兩個人對賞金還滿意麼？”<BR>
	<span class="lime">“酬金已經收到……您出手可真大方”</span>女子的聲音。<BR>
	“哼哼，就算被時空特使注意到了也沒用吧……”男子笑道，隨後壓低了聲音，“這次的行動十分順利。那麼，下次也請你們多多關照了。”<BR>
	男子掛上了手機，嘴邊抹出一個微笑：“做的很不錯啊，你們……”</p>
	
	<!--{elseif $winmode == 3 && $state == 6}-->
	<div class="subtitle">遊戲緊急中止</div>
	<BR>
	<p>“哈……哈……”我疲憊地呼吸着。<br>
	三名幻影執行官，之前在開幕儀式上口出狂言的傢伙們，如今都面朝下靜靜地躺在血泊之中。<br>
	如以前的生存者們傳説的那樣，他們很強。但是，仍然不敵我的攻擊而倒下了。<br>
	他們原本威武的制服已經被我的攻擊撕碎，同他們三人的身軀一樣千瘡百孔。<br>
	這樣的身軀，絕然不會再有生還的希望。<br>
	“這是報應，惡魔們。”我朝屍體的方向惡狠狠地啐了一口。<br>
	忽然，倒在地上了無生氣的屍體彷彿變得透明瞭。<br>
	我吃了一驚，定睛再望，地上哪裏還有他們三人的蹤影。</p>
	<p><span class="evergreen">“能夠將咱的首席執行官們擊倒，真是可喜可賀。”</span><br>
	一名女子的聲音響起，似乎是直接從我的腦內傳出。<br>
	“誰！？”我手持武器四面環顧，周圍一個人都沒有。<br>
	<span class="evergreen">“咱是林無月，生存遊戲的董事長，也是這個虛擬世界的主人。”<BR>
	“首席執行官都是咱親自挑選的精英，能將他們打敗，你的力量不可小覷。”<BR>
	“不過，這整個虛擬現實世界，都在咱的掌控之下。”<br>
	“也就是説，咱隨時可以將你直接抹殺。”<BR>
	“但是看在你的努力的份上，咱就給你一次離開的機會。”</span><br>
	林無月的語氣聽上去就像在評論一部三流新番，<br>
	<span class="evergreen">“那麼，這是給你的獎品，好好利用吧。”</span><br>
	隨着聲音的消失，我的手中憑空出現一張鑰匙卡。<br>
	這大概就是中止這場鬧劇的關鍵了吧。</p>
	<p>“GAME OVER！這個遊戲已經完了！”我利用鑰匙賦予的通訊機能向所有仍生還的網友們宣佈，“已經不用再互相殘殺了！”<br>
	之後，興味索然地坐了下來。<br>
	什麼“獎品”……難道我們只不過是玩具嗎？<br>
	難道我們的生命就跟玩具一樣，應當受人擺弄嗎？……<br>
	一開始説什麼“淨化網絡風氣”，但是這樣的活動，只會讓人心變得更加扭曲吧！？<br>
	這樣的行徑，怎麼可以容忍……<br>
	怎麼能就這樣善罷甘休！<br>
	意識深處早已義憤填膺，但是我強忍怒火，裝作懶洋洋地把玩着已經失去意義的武器。</p>
	<p>讓我剋制下來的不只是勞累和傷痛。<br>
	還有，在之前的你死我活的戰鬥中被我有意無意忽略掉的，理性。<br>
	仔細想來，她説的一點沒錯。<br>
	就憑我的攻擊，什麼都做不到。<br>
	她就是這個世界的管理員，只要她願意，什麼都能辦到。<br>
	禁區的創造、對入侵系統的人的懲罰，還有許許多多蛛絲馬跡……<br>
	誠然我能夠在遊戲中勝出，<br>
	誠然我可以擊敗她最得力的手下們，<br>
	但是，如果我要面對的是整個世界，<br>
	整個完全按這個女人的意志運行的世界……<br>
	我還能夠與之對抗嗎？<br>
	我歪着腦袋，思考着這個問題。</p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>遠處，收到遊戲結束消息的殘存的網友們，正互相攙扶着朝這裏聚集而來。<br>
	很快，整個世界都將崩潰，而還活着的人將回到現實。這是遊戲解除鑰匙告訴我的事。<br>
	目的地？也許是那個數小時前還被友誼與激情填滿的會場吧。<br>
	還活着的每個人都能回去，這還真是一個皆大歡喜的結局。 真是這樣麼？</p>
	<p>當然不是這樣。<br>
	“每個人都能分到補給品！不準爭搶！”<br>
	雖然遊戲已經終止了……<br>
	可是黑暗的種子，已經在參與遊戲的每一個人心中深處生根發芽，開出黑色的花朵。<br>
	為了搶奪剩下的一點補給，好些人都有意無意地下了狠手。<br>
	雖然由於我的干預，沒能釀成慘劇，<br>
	但是我明白，他們懼怕的不是道德的底線，而是我手中的棍棒。<br>
	也許沐浴了血雨之後，人們便不再相信陽光。<br>
	那一雙雙狼一般的眼神，宣示着每個人心底的惡魔的甦醒。<br>
	自己曾經奮力保護的網友們卻變成這個窮兇極惡的樣子，這讓我也覺得非常沮喪。<br>
	更讓我恐懼的是，我心裏也似乎有一隻魔鬼，在引誘我掄起棍棒，挨個敲開面前每個人的腦殼。<br>
	萬幸的是，現在我還能剋制得住。<br>
	但是這嗜血的慾望揮之不去，而且不斷滋長着。<br>
	也許最終它會把我完全控制，然後掀起腥風血雨。<br>
	這樣的我們，這樣的我，還能回到原來的那個世界去麼？</p>
	<p>而且，那個女人和她的組織肯定不會善罷甘休的。<br>
	也許回到現實之後，還有更可怕的噩夢在等待着我們。<br>
	林無月帶來的。網友們帶來的。我帶來的。<br>
	那麼，接下來應該怎麼辦呢？</p>
	<p>怎麼辦？不是已經有答案了嗎？<br>
	如果被慘劇包圍，那就把那噩夢的源頭撕碎。<br>
	如果被血雨籠罩，那就把那鮮紅的積雲撲殺。<br>
	一切的根源，在於林無月。<br>
	只要能真正打倒了她，那麼我們這些受害者大概也就能得到救贖了吧？<br>
	不，沒有大概。<br>
	一定會的。<br>
	一定是的，<br>
	所以，要擊敗林無月。<br>
	擊敗她。<br>
	擊敗她！<br>
	擊敗她！！！<br>
	如果我還不能擊敗她，那就變得比她更強！<br>
	直到她再也不能傷我分毫！<br>
	直到這個世界也不能阻止我掀翻它的步伐！</p>
	<p>……</p>
	<p>在世界崩潰之際，我握緊拳頭，將手臂高舉着伸向蒼天。<br>
	如果能看到自己的面龐，那麼我臉上洋溢着的笑容想必連自己也會感到驚訝。</p>
	<p><span class="yellow">“我是，{$sexinfo[$gd]}{$sNo}號，{$name}。”<br>
	“我還會再回來的。”<br>
	“走着瞧吧，林無月！”</span></p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>“對不起，董事長閣下。我們沒能阻止這批玩家。”<br>
	<p>“MISSION……任務失敗。”<br>
	不知何時，不知何地，不知何人，正誠懇地道歉着。<br>
	<span class="evergreen">“也許那就是咱要找的人吧？擁有能改變整個網絡的力量的人……”</span>一個女子的聲音，從虛空中傳來。<br>
	<span class="yellow">“要不是時空特使來攪局……”</span><br>
	<span class="evergreen">“時空特使捲入了這次事件麼，那還真是意料之外……算了，你們沒有什麼過錯。畢竟對手是他。”</span><br>
	<span class="clan">“那個人看起來很強的樣子……”</span>另外一個女子的聲音。<br>
	<span class="yellow">“嗯，我也只能和他打成平手，要不是他中途撤了……”</span>紅殺將軍卸下了自己的盔甲。<br>
	<span class="evergreen">“所以説了不怪你們。”</span>神秘的女子發出了一聲嘆息，<span class="evergreen">“如果他要來攪局的話那就隨他去吧。他是做不出什麼翻天動地的事情的。”</span><br>
	“瞭解，<span class="evergreen">Genetic Altered
	No.3 alter，林無月</span>閣下。”</p>
	
	
	<!--{elseif $winmode == 3}-->
	<div class="subtitle">遊戲緊急中止</div>
	<BR>
	<p>腦海中突然傳出的聲音，讓正忙於廝殺的眾人不約而同地停了下來。<BR>
	本以為會是首席執行官播報禁區的話語，但卻是另一個似曾相識的聲音。<BR>
	“GAME OVER！這個遊戲已經完了！已經不用再相互殘殺了！”</p>
	<p>真的嗎？眾人面面相覷。<BR>
	不過，既然首席執行官沒有加以干涉，或許這個人説的話是可以相信的。<BR>
	難以想象，本以為必然血流成河的這個“遊戲”，竟然會以這種方式結束。</p>
	<p>“10分鐘後會解除所有人的鎖定，返回現實世界。還活着的人都給我聚集到管理後台來。”</p>
	<p>剛才還打個你死我活的網友，此刻正有説有笑地向後台走去。<BR>
	但是，在歡聲笑語的間隙，總會感受到狐疑的眼神的窺視。<BR>
	大家正結伴而行。<BR>
	大家正踽踽獨行。<BR>
	數個小時的生死搏殺帶來的心靈創傷，或許終此一生都無法磨滅吧。<BR>
	那麼，接下來應該怎麼辦呢？</p>
	<p>怎麼辦？不是已經有答案了嗎？<BR>
	就算永遠也無法再次互相信任也好。<BR>
	就算等待着我們的是難以想象的夢魘也好。<BR>
	至少我們還生還。至少我們還能互相理解。<BR>
	那麼，就這樣走下去吧。<BR>
	和網友們一同走下去。</p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>“對不起，董事長閣下。我們沒能阻止這批玩家。”<br>
	<p>“MISSION……任務失敗。”<br>
	不知何時，不知何地，不知何人，正誠懇地道歉着。<br>
	<span class="evergreen">“也許那就是咱要找的人吧？擁有能改變整個網絡的力量的人……”</span>一個女子的聲音，從虛空中傳來。<br>
	<span class="yellow">“要不是時空特使來攪局……”</span><br>
	<span class="evergreen">“時空特使捲入了這次事件麼，那還真是意料之外……算了，你們沒有什麼過錯。畢竟對手是他。”</span><br>
	<span class="clan">“那個人看起來很強的樣子……”</span>另外一個女子的聲音。<br>
	<span class="yellow">“嗯，我也只能和他打成平手，要不是他中途撤了……”</span>紅殺將軍卸下了自己的盔甲。<br>
	<span class="evergreen">“所以説了不怪你們。”</span>神秘的女子發出了一聲嘆息，<span class="evergreen">“如果他要來攪局的話那就隨他去吧。他是做不出什麼翻天動地的事情的。”</span><br>
	“瞭解，<span class="evergreen">Genetic Altered
	No.3 alter，林無月</span>閣下。”</p>
	
	<!--{elseif $winmode == 5 && $state == 6}-->
	<div class="subtitle">核彈引爆</div>
	<BR>
	<p>手中的按鈕裝置發出刺耳的“嗶嗶”聲。<BR>
	真煩，不趕快把這東西丟掉的話，肯定會暴露位置，招來別人的攻擊。</p>
	<p>“啪。” 看着砸在堅硬的岩石上粉身碎骨的按鈕，我感到如釋重負般的開心。<BR>
	接下來怎麼辦呢？先繼續躲藏吧。馬上到整點禁區的時間了，我抬頭望着天空，判斷着大致的時間。<BR>
	忽然，我似乎看到了什麼。<BR>
	遠處的天空中，一顆明亮的星星，漸漸顯露出來。<BR>
	定睛看去，那其實不是星星，是飛行器一般的東西，正高速劃破天空，身後留下清晰可見的尾跡。<BR>
	“如果是飛機，那個速度也太快了……”我一邊這樣想着，一邊想轉身離開。<BR>
	但是，心臟好像被什麼拽住了一樣，毛骨悚然的感覺瞬間爬滿全身，整個人一動也不能動。<BR>
	“它在朝這個島嶼飛來……”我失神地望着那越來越近的飛行物體。<BR>
	高速飛行的東西已經很近了，圓錐形的腦袋在陽光下反射着耀眼的金光。<BR>
	“是導彈啊！該死……”話音未落，我就被千萬倍亮於太陽的刺眼光芒所淹沒了。</p>
	<p>“眼睛、眼睛看不見了！”眼前一片白茫茫，如同患了白內障一般。<BR>
	狂風從四面八方湧來，自己被捲到空中，就像破抹布一樣被撕扯着。<BR>
	再然後，猶如跌入了火焰地獄，皮膚似乎瞬間就蒸發了，灼熱的感覺從肺裏傳來，好像連血液都在沸騰。<BR>
	意識早已模糊了。僅存的感覺，是大概早已如枯骨一般的手指，攥着正在融化的武器。<BR>
	“可惡……早知道這樣，就……”</p>
	<p>崩壞的感官最終歸於沉寂。</p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>“對不起，董事長閣下，”不知何處，不知何人的聲音，“我們沒能阻止電子病毒核彈的引爆。”<BR>
	<span class="evergreen">“哼，看來也許下次還得我親自出馬。”</span>不滿的女聲，<BR>
	<span class="evergreen">“不過，電子病毒核彈這樣的東西，竟然會被安插到那裏。看來我們需要重新審視內部的暗流了呢。”</span><BR>
	“實在抱歉，董事長。這次的事情由我們負全責。”<BR>
	<span class="evergreen">“咱不在的時候竟然有人敢做這種事……”女聲沉吟許久，“果然是他……？”</span></p>
	
	
	<!--{elseif $winmode == 5}-->
	<div class="subtitle">核彈引爆</div>
	<BR>
	<p>突然間劃破天空的飛行物體，讓正在廝殺的眾人不約而同地停了下來。<BR>
	那震耳欲聾的尖鋭呼嘯聲，讓人不寒而慄。<BR>
	“啪”是網友的武器掉落在地上的聲音。<BR>
	“不好！那東西——快逃——”<BR>
	話音未落，那飛行物體就墜落在島嶼的中心位置。隨之而來的強烈閃光讓所有人的眼睛都一陣燒灼。<BR>
	“核彈……？”剛才還血戰着的技術帝，此刻呆若木雞。燒焦的碎屑從他朝向爆炸點的皮膚上片片剝落。<BR>
	有網友反應過來，扭頭就跑，還沒跑出兩步，就被呼嘯而至的巨大的衝擊波壓倒在地……</p>
	<p>世界在燃燒。<BR>
	骨頭似乎都碎了，沸騰的血液連同熟透的器官一起灑了一地，千瘡百孔的身體如同破娃娃，支撐着自己活到現在的信念早已分寸盡斷。<BR>
	“是誰……引爆了核彈？”沙啞的、夾雜着咕嚕聲的非人類的聲音有氣無力地喃喃道。<BR>
	“如果……還有……一定要……爆ta菊花……哈、哈哈……”</p>
	<p>崩壞的感官最終歸於沉寂。</p>
	<p>……<BR>
	……<BR>
	……</p>
	<p>“對不起，董事長閣下，”不知何處，不知何人的聲音，“我們沒能阻止電子病毒核彈的引爆。”<BR>
	<span class="evergreen">“哼，看來也許下次還得我親自出馬。”</span>不滿的女聲，<BR>
	<span class="evergreen">“不過，電子病毒核彈這樣的東西，竟然會被安插到那裏。看來我們需要重新審視內部的暗流了呢。”</span><BR>
	“實在抱歉，董事長。這次的事情由我們負全責。”<BR>
	<span class="evergreen">“咱不在的時候竟然有人敢做這種事……”女聲沉吟許久，“果然是他……？”</span></p>
	<!--{elseif $winmode == 6}-->
	<div class="subtitle">遊戲被GM中止</div>
	<BR>
	<p>本局遊戲被GM中止，請返回遊戲首頁。</p>
	<!--{elseif $winmode == 7 && $state == 6 }-->
	<div class="subtitle">幻境解離</div>
	<BR>
<p>一切都結束了。<br>
你拿着三個光球樣的物體，來到了那個位置。<br>
在你組裝起這三個光球前，你甚至不知道這個位置在這個虛擬現實中的存在。<br>
哦當然，你現在知道了。</p>
<p>你走向面前那唯一的祭壇樣的高台。<br>
然後，將三個光球放進了高台上的凹槽裏面。</p>
<p>整個世界變為純白——</p>
<p>

<span id="j3">『mixitem_1』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j2">『幻境』</span><br><br>
<span id="j1">『虛擬現實』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j4">『無法解析』</span><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j5">『世界線』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j6">『考驗』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
<span id="j16">『item.inc』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ff0000;font-size:31px;font-family:微軟雅黑;font-weight:bold">歡迎來到起源……</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j7">『記憶』</span><br><br>
<span id="j15">『合成』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j12">『數據』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j8">『!karma!』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j9">『熱血』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j10">『外界干擾』</span><span id="j11">『契約』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
<span id="j14">『時空特使』</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="j13">『奇蹟』</span>
<br><br>
</p>

<p>
然後，世界墜入黑暗——<br>
<span class="linen">“歡迎來到這裏。”</span><br>
那個聲音是誰？<br>
<span class="linen">“………………”</span><br>
你的面前出現了一襲黑衣的少女。銀白的短髮和飛揚的絲帶在黑暗中不知為何特別醒目。<br>
貌似在哪裏見過，但是已經回想不起來了。<br>
<span class="linen">“……所謂的外表毫無意義。”<br>
“我是控制這個虛擬現實的中樞程序。”<br>
“你能來到這裏，表示你已經突破了『這個』現實。”<br>
“<span class="yellow">{$name}</span>，You are now crowned a 'Fighter'.”</span><br>
少女伸出一隻手，將你從地上拉了起來。<br>
<span class="linen">“……這個系統比你想象的要複雜太多，但是在其中的每個存在都有着自己的使命。”<br>
“創建。”<br>
“毀滅。”<br>
“種植。”<br>
“殺戮。”<br>
“在其中的每個人都是一個程序，只會執行預訂的工作。”</span><br>
雖然你完全聽不懂少女在講什麼，但是你發現你問不出任何問題。<br>
<span class="linen">“但是你不同。”<br>
“你似乎是這個世界的——wildcard呢。”<br>
“當然了，也許你想反抗這個世界的法則，不過在我眼中，鬼牌仍舊是鬼牌，所謂的wildcard——”<br>
“……也便是身為wildcard的使命和枷鎖而已。”</span><br>
想改變自己的命運是錯誤的麼？<br>
我們便永遠將生活於這圓環之中麼？<br>
………………
</p>
<p>
<span id="p9">『去看看這世界吧——』</span><br>
<span id="p10">『願你眼中的景色永遠明亮清晰——』</span><br>
<span id="p3">『我的朋友便是我的力量！』</span><br>
<span id="p4">『你便將給我敗啊啊啊啊啊啊啊啊——』</span><br>
<span id="p5">『英雄是有保質期限的，請接過……』</span><br>
<span id="p6">『戰爭，戰爭永恆不變』</span><br>
<span id="p7">『反抗我的都要滅！』</span><br>
<span id="p8">『吃下這■的戰鬥傷害吧！■直接攻擊！粉碎玉碎大喝彩！』</span><br>
<span id="p1">『我的血將承載這黑暗，我的靈將承載這痛苦』</span><br>
<span style="color:red;font-family:微軟雅黑;font-size:23px;font-weight:bold;line-height:29px">…………<br>
這是……■■線■殘■……</span><br><br>
<span id="p2">『CONGRATULATIONS，你的遊戲，已經結束了。』</span><br>
<span id="p11">『I have bested the spikes, the fruit, and the moon!』</span><br>
<span id="p12">『起牀了啊！』</span><br>
<span id="p13">『被凝固的日常，將重新開始轉動。』</span><br>
<span id="p14">『你們都統統去給我讀古生物書讀到心臟怦怦亂跳為止再回來玩！』</span><br>
<span id="p15">『浪子的口袋裏面是永遠不缺嶄新的鈔票的』</span><br>
<span id="p16">『啊～啊我招了吧，這永續的黑夜，這異常的月亮，還有在羅漢像上放上帽子這些都是■乾的，現在給我讓開！』</span><br>
<span id="p17">『想證明給我看的話，就從我身上軋過去吧！』</span><br>
<br>
承受不住巨大信息的壓力，<br>
世界歸於鮮紅。</p>
<p>
我的所謂勝利就這樣……<br>
不，這一定不可能。<br>
這一切都是夢吧。<br>
我還在這虛擬的迴環中吧……<br><br><br>
<span style="font-size:23px;color:#ff0000;font-family:微軟雅黑;font-weight:bold">給我打破這回環<span style="font-size:29px">嗚嗚哦哦哦哦哦哦噢</span><span style="font-size:37px">噢噢噢哦哦</span><span style="font-size:29px">————！！！</span></span><br>
</p><p><br>
傳來了有什麼破碎的聲音。<br>
隨後，看到了光。<br>
世界再次被光籠罩。
</p>
<p>
景色被重新聚合。<br>
這裏是我曾經熟悉過的地點。<br>
自稱為中樞程序的少女正坐在地上。<br>
<span class="linen">“我沒預測到你還能達到這裏。”<br>
“…………不過既然達到了這裏，也就説明我的使命結束了吧。”</span><br>
難道你的使命不是坐在這裏看着我們麼……？<br>
<span class="linen">“説什麼啊，那是無生命的中樞程序。”<br>
“我……是中樞程序的一部分，可以説是附加在其上的一個病毒。”<br>
“你在這裏的出現，滿足了我的觸發條件。”</span><br>
少女站了起來，<br>
張開了雙手。<br>
她的全身被光籠罩。<br>
<span class="linen">“如果無法阻擋，就必須破壞；”<br>
“如果無法破壞，就想方設法延遲它。”<br>
“我的使命，就是……”</span><br>
少女的左手中出現了一樣奇怪的武器。<br>
看起來像一把樣式奇特的鑰匙。<br>
把手上纏繞着和少女手腕上相同的絲帶；<br>
劍柄上閃耀着亮藍色的條形霓虹燈光；<br>
底端的刃上則是閃耀的橙色火焰。<br><br>
<img border="0" src="/img/miracle_campfire.jpg"><br><br>
<span class="linen">“Unlimited Code Works: Miracle Campfire, Activate.”</span><br>
少女伸出了左手，示意着你接過武器。<br>
不知道被什麼驅使，你接過了這柄看起來沉重卻無比輕盈的武器。<br>
然後，在你沒來得及反應前，這把武器就貫穿了面前的形象。<br>
<span class="linen">“任務完成。你做的漂亮。”<br>
“通過這個行動，你成功地刪除了我，連帶着我依附的中樞程序。”<br>
“這個程序現在還不能被控制，也不能被破壞，所以這就是最好的結果了……”<br>
“我附身在每一個這樣的中樞程序中，所以你殺死的只是這一個『我』；<br>
其他的『我』，就等待着和你下次見面了。”<br>
“『願我的血，成為黑夜中閃耀的星光——』”</span><br>
唸誦完最後的話後，<br>
面前的形象完全地溶解在了光芒之中，而那個光芒隨着你手上的武器進入了你的身體。</p>
<p>
<span style="font-size:31px;color:#feea23;font-family:微軟雅黑;font-weight:bold;line-height:41px">『■■■■■■』<br>
『PROJECT ■』<br>
『■■■■』</span>
</p>
這是她留下的最終信息麼？很遺憾我看起來解讀不能啊……抱歉。<br>
這麼想着的你的意識也消逝在了迅速溶解的幻境之中。
</p>
<br>
<p>
“嗯，因為虛擬現實裝置暴走的受害者已經全部被治療完畢了。身體和心理上應該不會有後遺症。”<br>
“嗯，這樣就好，那羣傢伙也是應該審視一下自己的系統了，病毒入侵導致暴走什麼的……”<br>
■嘆了一口氣，關閉了竊聽器。<br>
“非常抱歉我們無法察覺到中樞程序的被入侵……”她身邊穿着黑袍子的人如此説道。<br>
<span class="evergreen">“沒有辦法，在我們開發出新的替代程序之前，只好讓時空特使這樣瞎鬧了，等到所有事情結束後我一定要他們好看。”</span><br>
■憤怒地站了起來，離開了房間。<br>
<span class="evergreen">“給我馬上準備重新載入中樞程序！”</span>在門口，她回過頭這麼怒吼了一句。<br>
</p>
<br>
<p>
你站在一幢灰色的建築前，左手上拿着那你已經不太記得名字的鑰匙狀奇怪武器。<br>
帶着那決意，你向前走去。<br>
</p>
<br>
<p align="right" style="padding-right:17%">
<span class="red">NEXT EPISODE：Project:■</span>
</p>
<!--{elseif $winmode == 7}-->
<div class="subtitle">幻境解離</div>
<p>
你的面前白光一閃，<br>
你的意識消逝在了白光之中。<br>
END?
</p>
	<!--{else}-->
	不明錯誤，請返回遊戲首頁！
	<!--{/if}-->
<!--{else}-->
不明錯誤，請返回遊戲首頁！
<!--{/if}-->

<form method="post" name="backindex" action="index.php">
	<input type="submit" name="enter" value="{lang backindex}">
</form>


{template footer}
<script language=javascript>

function rs(){
var s=0;
var j="";
//2333這段自己看着辦我的審美水平便是隻有5口牙上面那堆佔位冴冴也自己調整吧字太大真難看口牙
for (i=1;i<=16;i++){
	s=11+parseInt(Math.random()*19); 
	j="j"+i;
	document.getElementById(j).style.fontSize=s+"px";
	document.getElementById(j).style.color="#c8c0b8";
	document.getElementById(j).style.fontFamily="微軟雅黑";
	document.getElementById(j).style.fontWeight="Bold"; 
	} 
for (i=1;i<=17;i++){
	s=parseInt(Math.random()*16777215).toString(16); 
	while(((s%256)*(s%256)*(s%256)+(Math.floor(s/256)%256)*(Math.floor(s/256)%256)*(Math.floor(s/256)%256)+(Math.floor(s/65536)%256)*(Math.floor(s/65536)%256)*(Math.floor(s/65536)%256))<21233664){
		s=parseInt(Math.random()*16777215).toString(16); 
	}
	while(s.length<6){s="0"+s;}
	j="p"+i;
	document.getElementById(j).style.fontSize="13px";
	document.getElementById(j).style.color="#"+s;
	document.getElementById(j).style.fontFamily="微軟雅黑";
	document.getElementById(j).style.fontWeight="Bold"; 
	s=parseInt(Math.random()*4);
	document.getElementById(j).style.float="Center";
	if (s==0){document.getElementById(j).style.float="Left";}
	if (s==1){document.getElementById(j).style.float="Right";}
	if (i<3){document.getElementById(j).style.float="Center";}
	} 
}
rs();
</script>
