			</div>
		</td>
	</tr>
</table>
</center>
<div width="100%">
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="4"><hr></td>
		</tr>
		<tr>
			<td colspan="4">
				<div>
					<a href="http://en.wikipedia.org/wiki/Wikipedia:CC-BY-SA"><img src="img/cc-by-sa.png" style="width:96px;height:32px;"></a>
				</div>
				<div align="left">
					BR大逃殺或常磐大逃殺之源代碼遵循 <a class="evergreen" href="http://en.wikipedia.org/wiki/Wikipedia:CC-BY-SA">知識共享 署名-相同方式共享 3.0協議</a>；<br>遊戲背景、劇情及原創角色設定遵循 <b class="evergreen">知識共享 署名-非商業性使用-相同方式共享 3.0協議</b>。
				</div>
				<div class="ver" style="text-align:right">
					<a href="https://amarillonmc.github.io/">DTS $gameversion by 無名機關</a><br>
					<a>生存遊戲 - BRA簡體版V3.0.2 translated by azazil@loongyou.com</a><br>
					<a href="http://www.b-r-u.net/">BRU (Battle Royale Ultimate) V0.22</a>
				</div>
			</td>
		</tr>
		<tr><td style="height:15px"></td></tr>
		<tr>
			<td style="vertical-align:top;">
				<p style="text-align:left;valign:top;">
					<a>
						<!-- Histats.com  START  (standard)-->
						<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15_gif.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
						<a href="http://www.histats.com" target="_blank" title="site hit counter" ><script  type="text/javascript" >
						try {Histats.startgif(1,1323746,4,10043,"");
						Histats.track_hits();} catch(err){};
						</script></a>
						<noscript><a href="http://www.histats.com" alt="site hit counter" target="_blank" ><div id="histatsC"><img border="0" src="http://s4is.histats.com/stats/i/1323746.gif?1323746&103"></div></a>
						</noscript>
						<!-- Histats.com  END  -->
					</a>
				</p>
			</td>
			<td valign="top">			
				<a href="https://bbs.brdts.online/?thread-2.htm">請點此查看常磐大逃殺鳴謝頁面！</a><br>
			部分圖像資源採用了JewelSaviorFREE[http://www.jewel-s.jp/]的免費素材<br>
			</td>

			</td>
			<td valign="top">
					無名機關的愛發電：<br>
					<a href="https://afdian.com/@brdts">https://afdian.com/@brdts</a>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2">
				<p style="text-align: left" id="error">
					$error
				</p>
			</td>
			<td colspan="2">
			</td>
		</tr>
	</table>
</div>
</body>
</html>
