{template header}
<table align="center" style="text-align:center;border:0;padding:0;">
	<tr>
		<td><span class="yellow">{lang gameversion}：</span></td>
		<td style="text-align:left;"><span class="evergreen">$gameversion</span></td>
		<td style="text-align:center;padding:0 0 0 25px;"><span class="yellow">{lang adminmsg}</span></td>
	</tr>
	<tr>
		<td><span class="yellow">{lang now}：</span></td>
		<td style="text-align:left;"><span class="evergreen">{lang gamedate}</span></td>
		<td rowspan="4" style="width:400px;vertical-align:top;text-align:left;padding:0 0 0 25px;">
			<span class="evergreen">
				$adminmsg
			</span>
			<br>
			<span class="evergreen">當前房間列表：
				<input type="button" value="點擊查看房間列表" onclick="showModalDialog($('roomlist'));">
				<div style="height:5px;">&nbsp;</div>
				{template roomlist}
			</span>
		</td>
	</tr>
	<tr>
		<td><span class="yellow">{lang systemmsg}：</span></td>
		<td style="text-align:left;"><span class="evergreen">$systemmsg</span></td>
	</tr>
	<tr>
		<td><span class="yellow">{lang gameinfo}：</span></td>
		<td style="text-align:left;"><span class="evergreen"><span class="evergreen2">{lang numinfo}{$gstate[$gamestate]}</span></span></td>
		<td rowspan="4" style="float: right;">
			
		</td>
	</tr>
	<tr>
		<td colspan="2" style="vertical-align:top;">
			<div>
				<!--{if $gamestate > 10 }-->
				本局遊戲已經進行  <span id="timing"></span><script type="text/javascript">updateTime($timing,1);</script><br> 
				<!--{if $hplayer}-->
				當前最高傷害 $hplayer ($hdamage)<br>
				<!--{/if}-->
				<!--{else}-->
					<!--{if $starttime > $now}-->
					下局遊戲開始於  <span id="timing"></span><script type="text/javascript">updateTime($timing,0);</script>   後<br>
					<!--{else}-->
					下局遊戲開始時間  <span id="timing"></span>未定<br>
					<!--{/if}-->
					<!--{if $hplayer}-->
					上局最高傷害 $hplayer ($hdamage)<br>
					<!--{/if}-->
				<!--{/if}-->
				</div>
				<div>
				<!--{if $groomid}-->
					<span class="yellow">當前房間：{$groomid} 號</span> 
				<!--{else}-->
					上局結果：<span id="lastwin">$gwin[$winmode]</span>
					<!--{if $winner}-->
					，優勝者：<span id="lastwinner">$winner</span>
					<!--{/if}-->
				<!--{/if}-->
				</div>
				
				禁區間隔時間： $areahour 分鐘 ， $arealimit 禁後停止激活<br>
				每次增加禁區： $areaadd 個 ， 當前禁區數： $areanum<br>
				自動逃避禁區功能：<!--{if $areaesc && $gamestate < 40}--><span class="yellow">開放</span><!--{else}--><span class="red">關閉</span><!--{/if}--><br>
				<span class="red">注意：進入連鬥後，自動逃避功能自動關閉。</span><br><br>
				
				
				激活人數：<span id="alivenum">$validnum</span>
				生存人數：<span id="alivenum">$alivenum</span>
				死亡總數：<span id="alivenum">$deathnum</span>
				<br />
				<!--{if $cuser}-->
				
				<br />{lang welcome}
				<form method="post" name="togame" action="game.php">
				<input type="hidden" name="mode" value="main">
				<input type="submit" name="enter" value="{lang enter}">
				</form>
				
				<form method="post" name="quitgame" action="game.php">
				<input type="hidden" name="mode" value="quit">
				<input type="submit" name="quit" value="{lang quit}">
				</form>
				
				<!--{else}-->
				<form method="post" name="login" action="login.php">
				<input type="hidden" name="mode" value="main">
				{lang username}<input type="text" name="username" size="20" maxlength="20" value="$cuser">
				{lang password}<input type="password" name="password" size="20" maxlength="20" value="$cpass">
				<input type="submit" name="enter" value="{lang login}">
				</form>
				<!--{/if}-->
				<span class="evergreen2">新手玩家或初次遊玩玩家，務必先閲讀 <a href="help.php" class="clit">{lang help}</a> ！！！！</span><br>
		</td>
	</tr>
</table>

{template footer}