<option value="main">■ 移動 ■</option>
<optgroup label="移動地點列表：">
<!--加載隱藏地點移動列表-->
<!--{if !isset($plsinfo[$pls]) && isset($hplsinfo[$pgroup])}-->
	<!--{loop $hplsinfo[$pgroup] $key $value}-->
			<!--{if $pls == $key}--><optgroup label="■ 現在位置 ■">
			<!--{else}--><option value="$key">$value($xyinfo['hidden'])</option>
			<!--{/if}-->
	<!--{/loop}-->
<!--加載標準地點可移動列表-->
<!--{else}--> 
	<!--{loop $plsinfo $key $value}-->
		<!--{if (array_search($key,$arealist) > $areanum || $hack)}-->
			<!--{if $pls == $key}--><optgroup label="■ 現在位置 ■">
			<!--{else}--><option value="$key">$value($xyinfo[$key])</option>
			<!--{/if}-->
		<!--{/if}-->
	<!--{/loop}-->
<!--{/if}-->