{template header}
<div id="notice"></div>
<div class="subtitle" >{lang news}</div>

<div align="left">
<div class="clearfix">
<span style="float:left;" ><img border="0" src="img/Crimzonnews.gif"></span>
<span>{lang newsnotice}</span>
</div>
<br>
<span class="evergreen">當前時間：{lang gamedate}</span><br />
<span class="evergreen">當前天氣：{$wthinfo[$weather]}</span><br />
<!--{if $gamestate==40}--><span class="yellow">遊戲已經進入連鬥階段！</span><br /><!--{/if}-->
<!--{if $gamestate==50}--><span class="red">遊戲已經進入死鬥模式！</span><br /><!--{/if}-->
<!--{if $hack}--><span class="evergreen">（禁區已解除）</span><!--{/if}-->
{template areainfo}
<br><br>
<form method="post" name="news" onSubmit="return false;">
	<input type="hidden" id="newsmode" name="newsmode" value="last">
	<button onClick="$('newsmode').value='last';postCmd('news','news.php');">顯示最新的{$newslimit}條消息</button>
	<button onClick="$('newsmode').value='all';postCmd('news','news.php');">顯示全部消息</button>
	<button onClick="$('newsmode').value='chat';postCmd('news','news.php');">顯示最新聊天紀錄</button>
</form>


<div id="newsinfo">
{$last_newsinfo}
</div>

</div>
<br>
<form method="post" name="backindex" action="index.php">
<input type="submit" name="enter" value="{lang backindex}">
</form>

{template footer}