{template header}




<div class="subtitle" >{lang gamestart}</div>
<p align="center">
虛擬的會場擠滿了各式各樣打扮的人。<br>
各位網友一見如故，興奮地互相攀談着，等待着動漫祭的開幕。<br>
此次動漫祭的主辦方已經易手，因此活動方式才出乎意料。<br>
虛擬現實技術的進步也讓人大開眼界。<br>
據説這次活動主辦方的董事長——林無月，是個一切資料皆不明的人。<br>
在人肉搜索易如反掌的當今網絡世界，網友們卻連這個人的性別都不知道，也實屬罕見。<br>
不過，他/她馬上就要現身在開幕式現場了。<br>
在眾多混跡於網友中間的技術帝注視之下，他/她必然逃脱不了個人資料完全曝光的命運。
</p>
<p align="center">
突然，會場的燈光熄滅了。<br>
林無月並沒有如期出現。<br>
走上主席台的，是另外的<span class="evergreen">三個人</span>，在昏暗的會場裏看不清面目。<br>
怎麼回事？莫非出了狀況，要結束動漫祭？<br>
遠處，早早做好準備的技術帝嘆了口氣，關閉了入侵結界。<br>
“如果林無月不露面，原本的計劃都落空了。”<br>
一旁的網友一邊收拾東西，一邊一臉厭惡地説道。<br>
大概許多人來這裏並不是純粹為了參加動漫祭吧。
</p>
<p align="center">
燈光重新亮起，面前的情景讓我們驚訝……<br>
那三個人，不正是先前臭名昭彰的——<br>
<span class="clan">“電擊使 御坂 美琴。”</span><br>
<span class="yellow">“班主任 坂持 金髮。”</span><br>
<span class="lime">“四季花之主 風見 幽香。”</span><br>
在我們震驚的同時，三人自報了姓名。<br>
怎麼會這樣？如果是這三個人的話，這次動漫祭不就……
</p>
<p align="center">
但是三個人還沒有説出一句話，就被突然衝進來的一個身影打斷，<br>
“你們也該省省了！”<br>
隨着這一聲暴喝，衝進來的少年光刃一揮，將三個身影一刀兩斷。</p>
<p align="center">
	<img border="0" src="./img/story_3.jpg">
</p>
<p align="center">
但是，和大家想象中的情況不同，並沒有鮮血飛濺的場景，三個身影只是消失在了大家面前。<br>
“哼，原來都是幻影麼，這批膽小鬼……”少年將光刃收起。<br>
此時，執行官的聲音還是在場館中迴盪。
</p>
<p align="center">
“相信各位也有所親身體驗，<br>
“當今網絡，噴子橫行，小白當道，惡俗至上，內涵式微。<br>
“想必各位也不願意看到當年自己喜愛的網絡會變成這樣。<br>
“為了滌盪污濁之氣，淨化不正之風，我們主辦方經過周密的考慮之後，<br>
“不得不痛下決心，採取一些非常手段。<br>
“將參加生存遊戲的資格發給在座各位，並不是沒有原因的。<br>
“我們的調查顯示，在座各位中，存在着擾亂網絡秩序的元兇。<br>
“當然同時，在你們中間也有能夠改變整個網絡風氣的人存在。<br>
“所以我們組織了這次特別活動。<br>
“相信各位能夠從大局出發，理解我們主辦方的良苦用心。<br>
“現在，我們宣佈，第N次常磐動漫祭立刻結束！<br>
“即將開始的是——”
</p>
<div align="center">
■ BR LIFE GAME ■<br>
<font color="#ff0000" face="黑體" size="7">
<span id="br" style="width:100%;filter:blur(add=1,direction=135,strength=9):glow(strength=5,color=gold); font-weight:700; text-decoration:underline">
BR大逃殺</span>
</font>
 </div>
<p align="center">
	“夠了。”少年將剛剛收起的光刃向場館的某個角落扔去，執行官們的聲音戛然而止。<br>
	“我剛才已經將鍵刃墓場地區的NPC清理掉了，現在來給你們點物品，糊弄過這個系統後就救你們出去。”<br>
	少年不知道從哪裏摸出一個PDA在點着。<br>
	“嗯，那件超強力的靈裝還在，先把價格從65500調整到100……”少年的手指在屏幕上飛舞。
</p>
<p align="center">
	“呦呵，看來靜觀其變還是很有用的呢～”從少年衝進來的方向，飛進了另外一個身影。
	</p>
<p align="center">
	<img border="0" src="./img/story_4.jpg">
</p>

<p align="center">
	“但是你到這裏就結束了！”她摸出了一把巨大的衝鋒槍。<br>
	“用子彈就能打倒我時空特使先行者 GA-00林蒼月麼？！”少年立刻翻身躲開了子彈，順便將光刃重新拿在手上。<br>
	“想擦彈麼，該説你是愚不可及還是勇猛過度麼……”紅甲少女突然衝了過去，用槍管向少年的臉上砸下。<br>
	“嗯哼，兩用武器麼，反正我該做的都已經做完了，陪你玩玩也不是不可。”少年左手一揮，打開了一個隧道。<br>
	“你們可以走了。”他只是簡單地那麼説了一句，接着往後一跳，消失在了空氣中。</p>
<p align="center">
	“哼，所以説你們到底是來幹什麼的……現在還在這裏出現——藍凝，去收拾……”<br>
	紅色盔甲的少女突然住了口。“藍凝，不在了啊……嘛算了——”<br>
	“我麼……我的名字是紅暮，紅殺將軍 紅暮，給我記好了。”<br>
	她停了下來，但是沒有想到要繼續説什麼。<br>
</p>
<p align="center">
	於是，她在身邊的錄音機上重重地按下了播放鍵。<br>
	“好吧，現在開啓剩下的錄音，玩家們聽好了，我的名字是紅暮……然後放完剩下的錄音……”<br>
	三位執行官的聲音在空氣中再次迴盪。</p>
<p align="center">
	“在這裏暫時還不需要兵戎相向，因為這裏的時空已經被鎖死了。<br>
	“用通俗的話説，就是禁區。踏入禁區的人，將會被禁區防禦系統抹殺。<br>
	“各位從這裏出去以後，整個虛擬現實系統還會定時增加禁區。<br>
	“如果各位在十數個小時之內仍然無法決出最後的勝利者，那麼所有人都會灰飛煙滅。<br>
	<span class="yellow">“寧缺毋濫，這是林董事長的格言。</span><br>
	<span class="clan">“這個世界不需要平庸的凡人，只需要有力量的強者！</span><br>
	<span class="lime">“那麼，能夠從這修羅地獄勝出的人，就必然是身心皆極端強悍的王中之王了！”</span>
</p>
<p align="center">
……………………
</p>
<p align="center">
……………………
</p>
<p align="center">
	隨着錄音播放告一段落，大屏幕和燈光一起熄滅了。會場的出口亮起了光芒，似乎通往外面的未知世界。<br>
	不過因為玩家都已經被林蒼月放走了所以並沒有人走出去。
</p>
<p align="center">
	“你們每個人都將得到一些物品。麪包、礦泉水，這些是人人都有的。<br>
	“武器，和另外兩個物品，則是隨機的。<br>
	“這也是一種考驗，畢竟不是每個人都能得到稱手的武器。<br>
	“記住，裝備不是最重要的，你的實力才是決定你命運的關鍵。<br>
	“注意時間，不要在禁區滯留……失去每一位可能的獲勝者都是我們的損失。”
</p>
<p align="center">
	“無聊。”紅暮在代表着董事長的座位上伸了個懶腰。<br>
	“應該……祝你們好運麼？”
</p>

<form method="post" action="valid.php">
	<input type="hidden" name="mode" value="tutorial">
	<input type="button" value="{lang enterbattlefield}" onclick="window.location.href='game.php'">
</form>

{template footer}