<!--{eval $ruleset_story_id = function_exists('get_current_ruleset_id') ? get_current_ruleset_id() : '';}-->
<!--{if !empty($ruleset_story_id) && $ruleset_story_id != 'YELLOWKNIFE'}-->
{template ruleset_opening_story}
<!--{else}-->
<!--///////////////////////////////////////////////////-->
<!--////////////////////  標準模式  ////////////////////-->
<!--///////////////////////////////////////////////////-->
<!--{if 0==$gametype || 4==$gametype || 18==$gametype}-->
<div id="op_sht_endpage" class="shootings">7</div>
<div id="op_sht_0" class="shootings">
    <span class="evergreen b">“你願意為執念賭上生命嗎？”</span><br>
    <br>
    什麼？你朝聲音的來源望去，卻只看到人山人海的虛擬幻境會場。<br>
    放眼望去，會場裏的人們大都興奮地攀談着。<br>
    畢竟，他們都是奔着同一個目標而來——即將開始的生存挑戰——“大逃殺”。<br>
    
</div>
<div id="op_sht_1" class="shootings">
    <img border="0" src="./img/story/story_n1.jpg" style="width:450px;"><br>
    你悄無聲息地穿行在人羣中，等待着信號。<br>
    可以説，這裏的體驗猶如身臨其境，甚至比現實更加引人入勝。<br>
    真是多虧了 “林氏軟件集團”的黑科技啊。 <br>
    然而你知道，由林氏集團壟斷的這個活動，其實不時有恐怖的流言傳出。<br>
    傳説，每次活動後，總有幾名參與者留下永久的心靈創傷，甚至精神失常、失去意識。<br>
    然而就算如此，也擋不住蜂擁而來的人們。<br>
    <br>
    “聽説林氏集團的董事長有事缺席了。”<br>
    “好像她已經消失好些天了，現在都是「金龍通訊社」在管事。”<br>
    “我無所謂，反正只要有‘那個’的機會就夠了。”<br>
    “哈哈哈，都懂的。”<br>
    <br>
    你暗暗嘆氣。<br>
    你在這裏的原因，是調查一個奇怪的傳聞：<br>
    林無月的失蹤之後，遊戲的虛擬幻境中突然多出了一些名為<span class="ltcrimson">「<span class="ltcrimson b" style="font-size:14pt"><ruby>種火<rt style="font-size:9px">FIRESEED</rt></ruby></span>」的神秘存在。<br>
</div>
<div id="op_sht_2" class="shootings">
    <img border="0" src="./img/story/story_n2.jpg" style="width:450px;"><br>
    <br>
    <span class="ltcrimson">“讓各位挑戰者久等了。”</span><br>
    一個沉穩而自信的女聲直接傳入了你的腦海。<br>
    聲音的主人，一名全身紅裝的女性，此刻兩手撐着“大舞台”上的講台，表情十分輕鬆。<br>
    她的位置遠在會場的另一端，然而她的服飾和表情依然一覽無遺，就像近在咫尺。<br>
    這大概就是“虛擬幻境”搞的鬼吧。<br>
    <span class="ltcrimson">“我叫<span class="ltcrimson b" style="font-size:14pt"><ruby>紅 暮<rt style="font-size:9px">Crimson</rt></ruby></span>，受林無月的委託，主持本次‘大逃殺’。<br>
    這個生存挑戰唯二的要素，就是‘逃’與‘殺’。<br>
    你們的目標就是成為最後的倖存者，為此你們必須彼此廝殺，不惜使用各種手段。<br>
    勝利者，將得到我們提供的豐厚獎勵。失敗者，請下局再接再厲。<br>
    不過，根據協議，我們不保證參與者的精神體驗安全……”</span><br>
    ……「種火」的存在，一開始被認為是常規的運營搞事，但運營方卻不斷否認這一點。<br>
    不，與其説是否認，倒不如説是順理成章地將它們當作「並不存在」的事物。</span>
</div>
<div id="op_sht_3" class="shootings">
    突然，隨着一陣驚呼，原本光怪陸離的會場陷入一片黑暗，只剩“大舞台”還亮着。<br>
    <br>
    定番——所謂「時空特使」的突襲入侵開始了。不過你覺得這也是運營整活的一種。<br>
    <br>
    你只見一個身影一躍而過，直撲講台而去。<br>
    紅暮一臉驚訝地後退了兩步。<br>
    <span class="seagreen">“你們也該省省了！”</span>不速之客一聲暴喝躍過講台，刀光一閃，“紅暮”的身影便被一刀兩斷。<br>
    但是，對方並沒有血濺當場，而只是迅速淡化消失了。<br>
    <span class="seagreen">“哼，原來是個幻象，膽小鬼。”</span><br>
    不速之客將光刃收起，你這才發現他是個少年。<br>
    確切地説，你認識他。<br>
    <br>
    時空特使的不記名者，編號GA-00，人稱“熊孩子”的林蒼月。<br>
    <br>
    <img border="0" src="./img/story/story_n3.jpg" style="width:450px;">
    
</div>
<div id="op_sht_4" class="shootings">
    這相同的圖景已經展開了很多次，如果這不是運營整活，那還能是什麼？<br>
    你自信在參加遊戲之前已經在網上做了足夠的研究，已經將這些定數爛熟於心。<br>
    <br>
    還沒等林蒼月繼續犯傻，舞台上又出現了三個來者不善的身影。<br>
    <span class="clan">“電擊使 御坂 美琴。”</span><br>
    <span class="yellow">“班主任 坂持 金髮。”</span><br>
    <span class="lime">“四季花之主 風見 幽香。”</span><br>
    <span class="yellow"> “金龍通訊社執行官三人組，特此前來維護會場秩序！”</span><br>
    <br>
    <img border="0" src="./img/story/story_n4.jpg" style="height:86px;"><br>
    <br>
    三人自報了姓名之後，擺開架勢將林蒼月圍在中間。<br>
    <span class="seagreen">“你們金龍通訊社的興趣還挺重口味的。”</span>林蒼月皺着眉頭。
</div>
<div id="op_sht_5" class="shootings">
    當然，就算是「種火」的傳言，也是在網上衝浪時看到的。<br>
    <br>
    “先在幻境中看到種火，隨後它們就會進入你的夢中。”那傳言的確是這麼説的。<br>
    <span class="red">“警告：中樞程序區域偵測到不明代碼。”</span><br>
    冰冷而刺耳的警告聲讓執行官們一時間不知所措。<br>
    <span class="seagreen">“哼，三十六計走為上！”</span><br>
    明亮的登出光圈包裹了林蒼月。這個沒腦子的傢伙反應倒挺快。<br>
    <span class="ltcrimson">“想跑？”</span>紅暮的聲音再度傳來，<span class="ltcrimson b">“‘大逃殺’強行啓動！”</span><br>
    <br>
    各式各樣的警告信息瞬間把虛擬會場淹沒了。<br>
    <span class="red">“警告：偵測到非法的道具數據：提示紙條A、提示紙條B……”<br>
    “警告：無月之影BOSS數據缺失。”<br>
    “警告：鍵刃墓場BOSS數據缺失。”<br>
    “警告：干擾迎擊系統運轉不正常。”<br>
    “警告：核心程序有實體化的趨勢，壓制中。”<br>
    “警告：參戰者精神狀況監視程序無法運行。”……</span><br>
    <br>
    <span class="ltcrimson">“……沒辦法了，缺失的位置就只能由我和——嘛，就由我頂上吧。其他的交給……處理。”</span><br>
</div>
<div id="op_sht_6" class="shootings">
    <span class="seagreen">“沒想到吧！”</span>熊孩子竟然還隔空鬥嘴，<span class="seagreen">“我們事先注入了病毒，虛擬幻境已經千瘡百孔！”</span><br>
    <span class="ltcrimson">“你以為，我想要截住的是你嗎？”</span>紅暮不懷好意地笑着。<br>
    <br>
    ……“是你要來尋找我們嗎？”……<br>
    ……“打開靈子視界吧……”……<br>
    ……你突然聽到了什麼聲音，在你努力分辨它們的時候——<br>
    “ОΨ ΑТΨ ЙЖЖЁВХΜ ЩЖ ΗΨ ОДЖЙΨ……！”<br>
    聲音迅速扭曲成了你無法聽懂的雜音，你感到頭疼欲裂，下意識地抬起頭來——<br>
    <span class="ltcrimson">“唔？”</span>紅暮扭頭望向這裏，對上了你的目光。<br>
    不知道這是不是你的幻覺，你感覺紅暮的笑容似乎收斂成了一個別有意義的微笑。<br>
    <br>
    <img border="0" src="./img/story/story_n7.jpg" style="width:450px;"><br>
    <br>
    <span class="ltcrimson">“哦，這樣啊，那麼祝你好運吧——”</span>紅暮伸手一握，你的視野被傳送光圈吞沒了。
</div>
<div id="op_sht_7" class="shootings">
    <span class="evergreen">“在座各位的精神已經被鎖定了。如果妄圖強行退出，意識就會被消滅……”</span><br>
    “ΗΨ ЦВПЫЙΨ, ΗΨ ΞЖΔΩИЙ, ЙВЛΨ ДΑЫЫВЙΔ”<br>
    <br>
    <span class="evergreen">“殺掉所有的人，只剩下你自己……”</span><br>
    你仍舊能聽見那奇怪的聲音。<br>
    <br>
    <span class="evergreen">“這個世界不需要平庸的凡人，只需要有力量的強者！”</span><br>
    耳邊隱隱約約傳來不知何年何月的“大逃殺”揭幕詞。<br>
    <br>
    <span class="evergreen">“注意時間，不要在禁區滯留。失去每一位可能的獲勝者都是我們的損失……”</span><br>
    “ХЖ ТΨΜТΨЩ, ХЖ ТΨПЖТЦΨ, ЙΨΑЛΨ ХЖЩД…………”<br>
    <br>
    <span class="evergreen">“記住，裝備很重要，但也不是最重要的。你的實力才是決定你命運的關鍵。”</span><br>
    奇怪的聲音也漸行漸遠，但你預感你很快就能抓住它們的正體了。<br>
    <br>
    <br>
    <span class="red"><ruby>■ LIFE GAME ■<rt style="font-size:9px">■ ЙВΩΨ ΜΑПΨ ■</rt></ruby></span><br>
    <span id="br" class="red b" style="font-weight:700;font-size:20pt;line-height:20pt;">大 逃 殺</span><br>
    <br>
    <br>
    <span class="ltcrimson">“祝你們好運。你的實力……我可是很感興趣呢。”</span>
</div>
<!--{else}-->
<div id="op_sht_endpage" style="display: none;">0</div>
<div id="op_sht_0" class="shootings">
	咦？劇情可能被冴冴吃掉了。<br>
	這應該是一個BUG，請聯繫管理員。
</div>
<!--{/if}-->
<!--{/if}-->
