<dialog id="consle_search" style="max-width: 90%;max-height: 80%;">
    <center>      
    <span class="grey">提交指令後，你眼前的數據流開始閃爍……<br>
    片刻後，你的戰術界面上顯現出了幾行額外的選項。<br>
    你打算怎麼做呢？</span><br><br>
    <input type="radio" name="csc" id="csearch2" value="csearch2" checked><a onclick="sl('csearch2'); $('cstype').style.display='';">【查找角色/NPC位置】</a><br>
    <input type="radio" name="csc" id="csearch0" value="csearch0"><a onclick="sl('csearch0'); $('cstype').style.display='none';">【查找物品數量及位置】</a><br>
    <input type="radio" name="csc" id="csearch1" value="csearch1"><a onclick="sl('csearch1'); $('cstype').style.display='none';">【查找陷阱數量及位置】</a><br>
    <br><span class="grey">※ 請在此輸入查找的道具/陷阱/人物/NPC的完整名稱<br>
    （不支持關鍵字搜索）</span><br>
    <select id="cstype" name="cstype" style="display;">
        <!--{loop $typeinfo $nt $ntnm}-->
            <!--{if !empty($ntnm)}--><option value="$nt">$ntnm<!--{/if}-->
        <!--{/loop}-->
    </select>
    <input size="20" type="text" name="csnm" list="vsnamelist" maxlength="20"><br>
    <!--{eval include_once config('itmlist',$gamecfg);}-->
    <datalist id="vsnamelist">
        <!--{loop $item_namelist $in}-->
            <option value="$in"></option>
        <!--{/loop}-->
    </datalist>
    <br><br>
    <input type="button" class="cmdbutton" name="submit" value="開始檢索" onclick="$('command').value='consle_search';postCmd('gamecmd','command.php');this.disabled=true;">
    </center>
<img class="dialog-background" src="img/profile.gif" onclick="closeDialog($('consle_search'))">
</dialog>