“<span class="yellow">X 按鈕</span>”將對你的<span class="lime">命體上限</span>、<span class="lime">全系熟練</span>、<span class="lime">基礎攻防</span>進行<span class="yellow">按比例</span>加成，並獲得與你的<span class="yellow">等級</span>成正比的<span class="lime">怒氣值</span>。但這個按鈕<span class="yellow">只能使用一次</span>，且使用後你將<span class="yellow">失去你的稱號</span>。<br>
你確認要按這個按鈕嗎？<br>

<input type="hidden" name="mode" value="sp_pbomb">
<input type="hidden" id="command" name="command" value="menu">

<input type="button" class="cmdbutton" onclick="$('command').value='YES';postCmd('gamecmd','command.php');this.disabled=true;" value="確認">

<input type="button" class="cmdbutton" onclick="postCmd('gamecmd','command.php');this.disabled=true;" value="返回">

