想改變什麼話？（留空為不修改）<br>

<input type="hidden" name="mode" value="chgword">
<div>座右銘 : <input size="30" type="text" name="newmotto" maxlength="60" value="$motto"></div>
<br />寫下代表你性格的一句話，30個字以內。
<div>留  言 : <input size="30" type="text" name="newkillmsg" maxlength="60" value="$killmsg"></div>
<br />寫下你殺死對手的留言，30個字以內。
<div>遺  言 : <input size="30" type="text" name="newlastword" maxlength="60" value="$lastword"></div>
<br />寫下你不幸被害時的台詞，30個字以內。
<br />
<br />
<input type="button" class="cmdbutton" name="submit" value="提交" onclick="postCmd('gamecmd','command.php');this.disabled=true;">