{template header}

<div class="subtitle" >{lang tutorial}</div>
<center>
<!--{if !$tmode}-->
<table>
	<tr>
		<td align="left" style="width:220px;">
			<img border="0" src="img/story_3.jpg" style="width:200;height:185;">
			<p>
				那邊的，對，就是你，給我站住。
			</p>
			<p>
				你覺得憑你目前的實力，足夠在外面的戰場上活下來麼？如果你對最基本的大逃殺知識都不瞭解，那麼你的生存時間不會超過10分鐘。
			</p>
			<p>
				右邊的就是<span class="yellow">基本界面</span>。你可以在上面看到你的各項數據，其中和你最性命攸關的就是你的<span class="yellow">生命值</span>。
			</p>
			<p>
				接下來我會在<span class="yellow">移動探索</span>、<span class="yellow">作戰和逃跑</span>、<span class="yellow">使用和裝備道具</span>、<span class="yellow">包紮傷口和異常處理</span>、<span class="yellow">訪問商店和醫院</span>、<span class="yellow">遊戲狀態和禁區</span>等幾個方面作出最基本的示範。
			</p>
			<p>
				掌握它們能確保你最低限度地利用遊戲系統。至於更高層面的作戰技巧則要靠你的悟性了。
			</p>
		</td>
		<td>
			<img border="0" src="img/tutorial/t1.jpg">
		</td>
	</tr>
</table>
<!--{elseif $tmode==1}-->
<table>
	<tr>
		<td align="left" style="width:220px;">
			<img border="0" src="img/story_3.jpg" style="width:200;height:185;">
			<p>
				接下來是<span class="yellow">移動和探索</span>。
			</p>
			<p>
				移動可以使你改變所在地點。探索則會在當前所在地點搜索。
			</p>
			<p>
				移動和探索都有可能發生<span class="yellow">遭遇敵人</span>、<span class="yellow">拾取物品</span>或者<span class="yellow">遭遇突發事件</span>中的任何一個，也有可能什麼都沒遇上。
			</p>
			<p>
				出生時位於無月之影，初始即為禁區，無法進行搜索，必須移動到其他地圖。
			</p>
		</td>
		<td>
			<img border="0" src="img/tutorial/t21.jpg"> 
			<img border="0" src="img/tutorial/t22.jpg">
		</td>
	</tr>
</table>
<!--{/if}-->
</center>
<form method="post"  action="valid.php">
	<input type="hidden" name="mode" value="tutorial">
	<input type="hidden" name="tmode" value="$nexttmode">
	<input type="submit" value="{lang nexttutorial}">
	<input type="button" value="{lang enterbattlefield}" onclick="window.location.href='game.php'">
</form>


{template footer}