{template header}
<div class="subtitle" align="center">{lang valid}</div>

<p><img border="0" src="img/story_0.gif" style="align:center"></p>

<p align="center">“歡迎參加本次生存遊戲。<br />
	“我是本次生存遊戲的工作人員，你可以叫我「亮亮」。<br />
	“本次動漫祭不同於以往，各項活動將採用虛擬現實系統進行。<br />
	“請參加者如實填寫身份資料，以便領取神經接入裝置。<br />
	“身份資料請填寫在下面。”<br /></p>

	<form method="post"  action="valid.php" name="valid">
		<input type="hidden" name="mode" value="enter"> {lang name} : $username <br />
		<center>
		<table>
			<tr>
				<td align="center">
					<table>
					<tr>
						<td>{template usergdicon}<br /></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>{template userwords}<br /></td>
					</tr>
					</table>
				</td>
			</tr>
			</table>
		</center>
		<input type="submit" name="enter" value="{lang submit}">
		<input type="reset" name="reset" value="{lang reset}">
	</form>
	<br />
{template footer}