<br>

<form method="post" name="info" onsubmit="winner.php">
<input type="hidden" id="command" name="command" value="info">
<input type="hidden" id="start" name="start" value="$gamenum">
<input type="hidden" id="gnum" name="gnum" value="">
<center>
	<p>
		<input type="checkbox" id="winner_show_wmode_2" name="winner_show_wmode_2" <!--{if !empty($winner_show_wmode_2)}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_2').click();">$gwin[2]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_wmode_3" name="winner_show_wmode_3" <!--{if !empty($winner_show_wmode_3)}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_3').click();">$gwin[3]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_wmode_5" name="winner_show_wmode_5" <!--{if !empty($winner_show_wmode_5)}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_5').click();">$gwin[5]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_wmode_7" name="winner_show_wmode_7" <!--{if !empty($winner_show_wmode_7)}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_7').click();">$gwin[7]</a>&nbsp;&nbsp;
		搜索玩家：<input id="winner_show_winner" name="winner_show_winner" style="width: 120px;" type="text" value="$winner_show_winner">
		<input type="button" class="cmdbutton" value="搜索" onclick="document.info.command.value='list';document.info.submit();">
	</p>
	<p>
	<!--{if $result_num > $winlimit}-->
		<!--{if $start != $largest_mark}--><a onclick="document.info.start.value = '$largest_mark';document.info.command.value='list';document.info.submit();">第{$largest_mark}回</a>&nbsp;&nbsp;...&nbsp;&nbsp;<!--{/if}-->
		<!--{if $larger_mark && $larger_mark < $largest_mark}--><a onclick="document.info.start.value = '$larger_mark';document.info.command.value='list';document.info.submit();">第{$larger_mark}回</a>&nbsp;&nbsp;<!--{/if}-->
		<span class="evergreen b">第{$start}回</span>&nbsp;&nbsp;
		<!--{if $smaller_mark && $smaller_mark > $smallest_mark}--><a onclick="document.info.start.value = '$smaller_mark';document.info.command.value='list';document.info.submit();">第{$smaller_mark}回</a>&nbsp;&nbsp;<!--{/if}-->
		<!--{if $start != $smallest_mark}-->...&nbsp;&nbsp;<a onclick="document.info.start.value = '$smallest_mark';document.info.command.value='list';document.info.submit();">第{$smallest_mark}回</a><!--{/if}-->
		&nbsp;&nbsp;&nbsp;<input id="winnermark" style="width: 60px;" type="text" value="$start">
		&nbsp;<input style="width: 80px" type="button" value="跳轉" onclick="document.info.start.value = $('winnermark').value;document.info.command.value='list';document.info.submit();">
	<!--{/if}-->
	</p>
	<br>
	<TABLE border="1" cellspacing="0" cellpadding="0">
		<TR height="20">
			<TD class="b1" width="30px"><span>回</span></TD>
			<TD class="b1" width="60px"><span>勝利方式</span></TD>
			<TD class="b1" width="95px"><span>頭銜</span></TD>
			<TD class="b1" width="95px"><span>優勝者名</span></TD>
			<TD class="b1"><span>頭像</span></TD>
			<TD class="b1"><span>遊戲結束時間</span></TD>
			<TD class="b1" width="240px"><span>勝利者留言</span></TD>
			<TD class="b1" width="240px"><span>使用武器</span></TD>
			<TD class="b1" width="95px"><span>最高傷害</span></TD>
			<TD class="b1" width="95px"><span>殺人最多</span></TD>
			<TD class="b1"><span>查看信息</span></TD>
		</TR>
		<!--{loop $winfo $gid $info}-->
		<TR height="20">
			<TD class="b2" ><span>$gid</span></TD>
			<TD class="b3" ><span>$gwin[$info['wmode']]</span></TD>
			<TD class="b3" ><!--{if !empty($info['nickinfo'])}--><span>$info['nickinfo']<!--{else}--><span class="grey">-</span><!--{/if}--></TD>
			<TD class="b3"  style="white-space: nowrap;">
				<!--{if $info['name']}-->
					<!--{if is_array($info['name'])}-->
						<span>{$info['teamID']}</span><br>
						<!--{loop $info['name'] $tname}-->
							<span class="evergreen"><u><a href="user_profile.php?playerID=$tname">$tname</a></u></span><br>
						<!--{/loop}-->
					<!--{else}-->
						<span class="evergreen"><u><a href="user_profile.php?playerID=$info['name']">$info['name']</a></u></span>
					<!--{/if}-->
				<!--{else}-->
					<span class="grey">無</span>
				<!--{/if}-->
			</TD>
			<TD class="b3">
				<!--{if is_array($info['name'])}-->
					<span><img src="img/$info['iconImg']" style="width:70;height:60;"></span>
				<!--{else}-->
					<span><img src="img/$info['iconImg']" style="width:70;height:40;"></span>
				<!--{/if}-->
			</TD>
			<TD class="b3"><span>$info['date']</span><br><span>$info['time']</span></TD>
			<TD class="b3" ><!--{if $info['motto']}--><span class="white">$info['motto']</span><!--{else}--><span class="grey">無</span><!--{/if}--></TD>
			<TD class="b3" width="80px"><!--{if $info['wep']}--><span class="white">$info['wep']</span><!--{else}--><span class="grey">無</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['hdmg']}--><span class="white"><u><a href="user_profile.php?playerID=$info['hdp']">$info['hdp']</a></u></span><!--{else}--><span class="grey">無</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['hkill']}--><span class="white"><u><a href="user_profile.php?playerID=$info['hkp']">$info['hkp']</a></u></span><!--{else}--><span class="grey">無</span><!--{/if}--></TD>
			<TD class="b3">
				<span>
					<!--{if $info['wmode'] && $info['wmode'] != 1 && $info['wmode'] !=4 && $info['wmode'] != 6}--><span class="white"><a href="winner.php?command=info&gnum=$info[gid]">🥇</a></span><!--{else}-->　<!--{/if}-->
					<input type="button" value="角色信息" <!--{if $info['wmode'] && $info['wmode'] != 1 && $info['wmode'] !=4 && $info['wmode'] != 6}-->onclick="$('command').value='info';$('gnum').value='$gid';document.info.submit();"<!--{else}-->disabled<!--{/if}-->>
					<!--{if $info['wmode'] && $info['wmode'] !=4}--><span class="white"><a href="winner.php?command=news&gnum=$info[gid]">📼</a></span><!--{else}-->　<!--{/if}-->
					<input type="button" value="該局狀況" <!--{if $info['wmode'] && $info['wmode'] !=4}-->onclick="$('command').value='news';$('gnum').value='$gid';document.info.submit();"<!--{else}-->disabled<!--{/if}-->>
                    <!--{if !empty($download_buttons[$gid])}-->$download_buttons[$gid]<!--{/if}-->
				</span>
			</TD>
		</TR>
		<!--{/loop}-->
	</TABLE>
</center>
</form>