<!-- 注意：大部分技能可以直接通過編輯配置文件完成 -->
<!-- 可能的、需要新建模板的情況：你的技能需要在面板內執行比較複雜的、單靠配置文件無法實現的操作 -->
<tr>
    <td class="b1" width="40">
        <span>{$cskills['技能編號']['name']}</span>
    </td>
    <td>
     <!-- ↓↓↓ 存在解鎖條件的技能才需要有這一部分 ↓↓↓ -->
        <!--{eval $unlock_技能編號_flag = check_skill_unlock('技能編號',$uidata);}-->
        <!--{if $unlock_技能編號_flag}-->
        <div style="position:relative; height:100%; width:100%;" onmouseover="skill_unacquired_mouseover.call(this,event)" onmouseout="skill_unacquired_mouseout.call(this,event)">
        <div class="skill_unacquired">
        <!--{/if}-->
     <!-- ↑↑↑ 存在解鎖條件的技能才需要有這一部分 ↑↑↑ -->
            <table class="skilltable">
                <tr>
                    <td class="skilldesc_left b3">
                        <span class="skilldesc">
                        <!-- 技能介紹，自己填任意內容或使用下面的方式 -->
                        <!--{eval $技能編號_desc = parse_skilldesc('技能編號',$uidata);}-->
                        $技能編號_desc
                        </span>
                    </td>
                    <td class="skilldesc_right b3">
                         <!-- 技能按鈕，沒有可以不填 -->
                        <input type="number" name="技能編號_nums" style="width:40px" value="1">		
                        <input type="button" onclick="$('mode').value='revskpts';$('command').value='技能編號';postCmd('gamecmd','command.php');this.disabled=true;" value="技能操作按鈕名">
                    </td>
                </tr>
            </table>
    <!-- ↓↓↓ 存在解鎖條件的技能才需要有這一部分 ↓↓↓ -->
        <!--{if $unlock_技能編號_flag}-->
        </div>
        <div class="skill_unacquired_hint">
            <table class="skilltable">
                <tr>
                    <td valign="center" align="center">
                        <span class="yellow">
                            <!-- 未滿足解鎖條件時顯示的文本，自己填或使用下面的方式 -->
                            <!--{eval $技能編號_lockdesc = $cskills['技能編號']['lockdesc'][$unlock_技能編號_flag];}-->
                            $技能編號_lockdesc
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <!--{/if}-->
    <!-- ↑↑↑ 存在解鎖條件的技能才需要有這一部分 ↑↑↑ -->
    </td>
</tr>